.foody_filter-template {

  .featured-content-container {
    display: none;
  }

  .filter-details-container {
    padding: 0 15px;

    .title{
      margin: 0;
      font-size: 24px;
    }
  }

  .google-adx-container {
    position: absolute;
    bottom: 0;
  }
}