.foody_filter-template {

  .featured-content-container {
    display: none;
  }

  .filter-details-container {
    padding: 0 15px;

    .title{
      margin: 0;
      font-size: 24px;
    }
  }

  .container-fluid {
    min-height: auto;

  }

  .google-adx-container {
    text-align: center;
    padding: 0;
  }
}