.foody-accordion {

  &.accordion-mobile {
    .foody-accordion-content {
      .foody-accordion-title {
        background-image: linear-gradient(80deg, #ec3849, #ec3849);
        padding: 0 20px;
        height: 50px;

        i {
          &:before {
            color: white;
            margin-left: 20px;
            font-size: 16px;
            transition: transform .3s ease;
          }
        }

        a {

          &[data-toggle="collapse"] {
            color: white;
            font-size: 20px;
            line-height: 50px;
          }

          &.collapsed + i {
            &:before{
              transform-origin: 50%;
              transform: rotate(180deg) translateY(-100%);
            }
          }
        }
      }

      .card-body{
        padding: 10px 20px;
      }
    }
  }


  .foody-accordion-content {
    .foody-accordion-title {

      i {
        &:before {
          cursor: pointer;
        }
      }

      .icon-filter {
        &:before {
          cursor:pointer;
          font-size: 21px;
        }
      }

      a {

        &[data-toggle="collapse"] {
        }

        &.collapsed + i {
          &:before{
          }
        }
      }
    }

    .card-body{
    }
  }
}