.foody-content {
  font-size: 22px;
  h2 {
    font-family: $font__main;
    color: $color__primary;
    font-weight: 900;
    font-size: 36px;
  }

  h3, h4, h5, h6 {
    font-family: $font__assistant;
    font-weight: bold;
  }

  p {
    margin: 0;
    text-align: right;
    font-family: $font__assistant;
    font-size: 22px;
  }

  ol {
    list-style-type: none;
    counter-reset: counter;
    padding: 0;
    margin: 0;

    li {
      margin: 5px 0;
      &:before {
        content: counter(counter) '.';
        counter-increment: counter;
        font-weight: bold;
        margin-left: 5px;
        display: inline-block;

      }
    }
  }
}