.foody-tabs {
  .nav-tabs {
    .nav-item {
      margin-left: 30px;
      a {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -0.1px;
        text-align: center;
        color: $color__primary;
        padding: 10px;
        white-space: nowrap;

        &:not(.active) {
          color: $color__text-primary-light;
          &:hover {
            border-color: $color__primary;
            opacity: .6;
            color: $color__primary;
          }
        }

        &.active {
          border-color: $color__primary;
        }
      }
    }
  }

  .tabs-container {
    max-width: 100%;
  }
}

@include breakpoint(mobileonly) {
  .foody-tabs {
    .nav-tabs {
      .nav-item {
        margin-left: 0;
        a {
          font-size: 18px;
          &:not(.active) {
            &:hover {
            }
          }

          &.active {
          }
        }
      }
    }

    .tabs-container {
    }
  }

}

