#login-modal{


  .login-title {
    color: var(--color__primary);
    font-size: 2rem;
    text-align: right;
    font-weight: 500;
  }

  p{
    font-family:$font__assistant;
    margin: 0;
  }

  span,p,a{
    text-align: right;
    font-family:$font__assistant;
  }

  form{
    margin-top: 1em;
  }
}