.load-more {
  margin: 0 auto;
  display: block;
  text-align: center;
  color: $color__primary;
  font-size: 22px;
  font-family: $font__assistant;
  cursor: pointer;

  i {
    height: 100%;
    vertical-align: middle;
    line-height: normal;

    &:before {
      font-size: 6px;
      display: inline-block;
      vertical-align: super;
    }
  }
}