button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="submit"] {
  border: 1px solid;
  border-color: $color__border-button;
  border-radius: 3px;
  background: $color__background-button;
  color: rgba(0, 0, 0, .8);
  @include font-size(0.75);
  line-height: 1;
  padding: .6em 1em .4em;

  &:hover {
    border-color: rgba(237, 61, 72, 0.15);
  }

  &:active,
  &:focus {
    border-color: rgba(237, 61, 72, 0.5);
  }
}

input[type="submit"], button[type="submit"] {
  &:disabled {
    pointer-events: none;
    opacity: .3;
    cursor: not-allowed;
  }
}

.btn-primary {
  &:focus {
    box-shadow: inset 0 1px 0 rgba(237, 61, 72, 0.15), 0 1px 1px rgba(237, 61, 72, 0.075), 0 0 0 0.2rem rgba(237, 61, 72, 0.5);
  }
}