.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comments-title {
  color: var(--color__primary);
}

#cancel-comment-reply-link {
  display: none !important;
}

.comment-form {

  .commentform-element {
    position: relative;
    background-color: #ffffff;
    border-radius: 3px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    transition: height .3s ease;
    height: 60px;
    margin-bottom: 10px;

    img.avatar {
      clip-path: circle();
      position: absolute;
      z-index: 100;
      right: 5px;
      top: 50%;
      max-width: 45px;
      transform: translateY(-50%);
      transition: top .3s ease, transform .3s ease;
    }

    .name {

    }

    #comment {
      border: none;
      width: 100%;
      height: 100%;
      line-height: 88px;
      padding: 0 70px;
      font-size: 22px;
      font-family: $font__assistant;

      &::placeholder {
        font-weight: 900;
        font-size: 19px;
      }
    }

    &.open {
      height: 120px;
      #comment {
        height: auto;
      }

      img.avatar {
        transform: translateY(20px);
        top: 0;
      }
    }

    &.anonymous-comment {
      height: 190px;
      margin-bottom: 50px; //80px;
      padding: 1px 65px 0 10px;
      text-align: right;

      img.avatar {
        top: 20%;
      }

      #comment {
        border-radius: 3px;
        border: solid 1px #d8d8d8;
        height: auto;
        margin-top: 10px;
        padding: 0 10px;
      }

      #author-name, #author-email {
        display: block;
        margin-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 3px;
        border: solid 1px #d8d8d8;
      }

      &.open {
        margin-bottom: 0;
        height: 230px;

        img.avatar {
          top: 0;
        }

        #comment {
          height: 130px;
          margin-bottom: 15px;
        }
      }
    }
  }

  &.open {
    .form-submit {
      display: block;
      transform: translateY(-130%);
    }
  }

  #comment-error {
    padding-right: 5px;
  }

  .form-submit {
    text-align: left;
    display: none;
    margin-bottom: 10px;
    margin-left: 10px;

    input[type="submit"], input[type="button"] {
      font-family: $font__assistant;
      font-size: 22px;
      background-color: transparent;
      border: none;
      border-radius: 0;
      padding: 0 15px;
      outline: none;
      cursor: pointer;
      margin-bottom: 10px;
    }

    input[type="submit"] {
      font-weight: bold;
      color: var(--color__primary);
    }

    input.cancel {
      color: var(--color__text-primary-light);
      border-left: 1px solid var(--color__text-primary-light);
    }
  }
}

.comment-list {

  padding-right: 5px;
  margin: 0;

  .foody-comment {
    position: relative;
    font-family: $font__assistant;
    padding: 10px 0;
    $avatar-size: 70px;
    text-align: right;

    img.avatar {
      clip-path: circle();
      margin-left: 10px;
      vertical-align: baseline;
      max-width: 40px;
      position: absolute;
      top: 40px;
    }

    .comment-body {

      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
      display: block;
      margin-right: 60px;
      border: 1px solid #ced4da99;
      padding: 1%;
      width: 90%;

      .author {
        unicode-bidi: embed;
        font-size: 18px;
        font-weight: bold;
        margin-left: 5px;
      }

      time {
        opacity: 0.5;
        font-size: 18px;
      }

      p {
        margin-bottom: 0;
        overflow-wrap: break-word;
      }

      &.waiting-for-approval {
        margin-bottom: 30px;

        .waiting-comment-approval-image-container {
          text-align: center;
        }

        .waiting-approval {
          text-align: center;
          margin-top: 15px;
        }
      }
    }

    .reply {
      margin-right: $avatar-size;
      padding: 5px 20px 0;
      font-size: 18px;
      font-weight: bold;
      opacity: 0.5;
    }

  }

  .children {
    padding-right: 70px;
    .foody-comment {
      img.avatar {
        width: 30px;
        vertical-align: top;
      }
    }
  }

}

@include breakpoint(mobileonly) {

  article {
    &.content {
      .comments, .recipe-comments {
        .foody-accordion-title {
          h5,  div.filter-title-h5 {
            i.icon-side-arrow {
              &:before {
                left: 0;
                position: unset;
                line-height: 50px;
                font-size: 11px;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  .comment-content a {

  }

  .bypostauthor {

  }

  .comments-title {

  }

  .comment-form {

    .commentform-element {
      height: unset;
      padding: 20px 0;

      #comment-error {
        padding: 0 70px;
        padding-right: 10px;
        text-align: right;
        font-size: 1rem;
        font-weight: normal;
      }

      img.avatar {

      }

      .name {

      }

      #comment {

        &::placeholder {
          font-size: 18px;
        }
      }

      #author-name, #author-email {
        width: 100%;
      }

      &.open {

        #comment {
          line-height: unset;
        }

        img.avatar {
        }
      }

      &.anonymous-comment {
        height: 200px;
        padding: 1px 60px 10px 10px;
        margin-bottom: 30px;

        &.open {
          height: 240px;
          margin-bottom: 0;

          #comment {
            height: 143px;
          }
        }
      }
    }

    &.open {
      .form-submit {

      }
    }

    .form-submit {

      input[type="submit"], input[type="button"] {

      }

      input[type="submit"] {

      }

      input.cancel {

      }
    }
  }

  .comment-list {

    padding-left: 0;

    .foody-comment {
      padding-bottom: 0;
      img.avatar {

      }

      .comment-body {
        padding: 10px;
        vertical-align: top;
        margin-right: 50px;
        .author {
          font-size: 18px;
        }

        time {
          font-size: 18px;
        }

        p {

        }

      }

      .reply {
        font-size: 18px;
        padding-top: 5px;
      }

    }

    .children {
      margin-left: 0;
      .foody-comment {
        img.avatar {

          .comment-body {
            width: auto;
          }
        }
      }
    }

  }

}

