.single-foody_technique {

  .featured-content-container {
    display: none;
  }

  .technique-details-container {
    padding: 0 15px;

    .title{
      margin: 0;
      font-size: 24px;
    }
  }
}