@import 'team-listing';

.page-template {
  &.team {

    #content{
      //padding-top: 0;
    }

    .sort {
      padding: 10px 0;
      .foody-select {
        width: 120px;

        .btn {
          &.dropdown-toggle {
            z-index: 0;

            &:after {
              top: 50%;
            }
          }
        }

        &:hover, &:active, &:focus {
          background-color: transparent;
          border-color: transparent;
        }

        &.dropdown-toggle {
          outline: none;
        }
      }
    }

    #content {
      > .container {
        padding-top: 15px;
      }
    }

    .team-listing {

      .author {
        .post-count {
          opacity: .7;
          transition: opacity .3s;
        }

        &:hover {
          .post-count {
            opacity: 1;
          }
        }
      }
    }
  }
}

@include breakpoint(mobileonly) {

  .page-template {
    &.team {
      #content{
        //padding-top: 30px;
      }
      .team-listing {
        padding-right: 0;
        .author {
          .post-count {
            opacity: 1;
          }
        }
      }
    }
  }
}