@import 'team-listing';

.page-template {
  &.team {
    .sort {
      padding: 5px 0 10px;
      .foody-select {
        width: 120px;

        a{
          color: var(--color__text-primary-dark);
        }

        .btn {
          &.dropdown-toggle {
            z-index: 0;
            font-size: 18px;

            &:after {
              top: 50%;
            }
          }
        }

        &:hover, &:active, &:focus {
          background-color: transparent;
          border-color: transparent;
        }

        &.dropdown-toggle {
          outline: none;
        }
      }
    }

    #primary {
      padding-top: 0;
    }

    #content {
      > .container {
        padding-top: 15px;
      }
    }

    .team-listing {

      .author {
        .post-count {
          opacity: .7;
          transition: opacity .3s;
        }

        &:hover {
          .post-count {
            opacity: 1;
          }
        }
      }
    }
  }
}

@include breakpoint(mobileonly) {

  .page-template {
    &.team {
      .team-listing {
        padding-right: 0;
        .author {
          .post-count {
            opacity: 1;
          }

          .author-name {
            font-size: 18px;
          }
        }
      }
    }
  }
}