a {
  color: var(--color__link);

  &:visited {
    color: var(--color__link_visited);
  }
  &:hover,
  &:focus,x
  &:active {
    color: var(--color__link-hover);
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }

  &.disabled {
    pointer-events: none;
  }
}

.disabled {
  a {
    pointer-events: none;
  }
}
