@include font-face(ArielRounded, '../fonts/ArielRounded',null,null,'ttf','U+00-20, U+00-7F');
@include font-face(RaananSuper, '../fonts/Raanan/RaanaSuperRegular',null,null,'otf','U+05-90, U+05-FF');
@include font-face(RaananSuper, '../fonts/Raanan/RaanaSuperBlack',bold,null,'otf','U+05-90, U+05-FF');
@include font-face(Assistant, '../fonts/Assistant/Assistant-Regular',null,null,'ttf');
@include font-face(Assistant, '../fonts/Assistant/Assistant-Bold',bold,null,'ttf');
@include font-face(Assistant, '../fonts/Assistant/Assistant-ExtraBold',800,null,'ttf');



$font__ariel-rounded: ArielRounded;
$font__main: RaananSuper, 'ArielRounded';
$font__bold: RaananSuper, 'ArielRounded';

//$font__main: Assistant;
//$font__bold: Assistant;

$font__assistant: Assistant;
$font__assistant-bold: Assistant;
$font__assistant-extra-bold: Assistant;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
