@include font-face(RaananSuper, '../fonts/RaanaSuperRegular',null,null,'otf');
@include font-face(RaananSuperBold, '../fonts/RaanaSuperBold',null,null,'otf');


$font__main: RaananSuper;
$font__bold: RaananSuperBold;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
