/* remove default blue border from around tab headings when clicked on */
.nav-tab-wrapper a { outline: 0; outline: none; box-shadow: none; }

/* give a little spacing between plugin title and tabs */
.wrap .plugin-title {
	margin-bottom: 15px !important;
}

#scan-content-p {
    position: relative;
}

#scan-response {
    margin-top: 20px;
}

/* position the spinner gif */
#cf-spinner {
    position: absolute;
    top: 4px;
    left: 92px;
    display: none;
}

.post-res {
    margin-bottom: 25px;
}

/* hide all tabs initially */
.tab-content {
    display: none;
}

/* ----------------------- */
/* Old CSS below needs sorting */
/* ----------------------- */

.icon-heading {
	display: inline-block;
	margin-left: 15px;
}

.icon-heading i {
	vertical-align: baseline;
}

.pccf-dashicon-font {
	display:                inline-block;
	/*line-height:            1;*/
	font:                   normal 24px/1 'dashicons';
	-webkit-font-smoothing: antialiased;
	vertical-align:         top;
}

.pccf-twitter-button:before {
	content: '\f301';
}

a.pccf-twitter-link, a.pccf-twitter-link:visited {
	color: #55acee;
}

a.pccf-twitter-link:hover {
	color: #62b9fb;
}

.pccf-carrot-button:before {
	content: '\f511';
}

.pccf-home-button:before {
	content: '\f102';
}

a.pccf-home-link, a.pccf-home-link:visited {
	color: #777;
}

a.pccf-home-link:hover {
	color: #999;
}