body {
  &.error404 {
    #content {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .error-404 {

        h2 {
          &.not-found-title {
            text-align: center;
          }
        }

        .image-container {
          text-align: center;
          margin-bottom: 30px;
          &.not-found-image {
            margin-top: 60px;
          }
        }
      }
    }

    @include breakpoint(mobileonly) {
      .error-404 {

        h2 {
          &.not-found-title {
            width: 90%;
            margin: 0 auto;
          }
        }

      }
    }
  }
}

