.single-post {
  .foody-content {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px 0;

    .wp-caption {
      text-align: center;

      .wp-caption-text {
        text-align: center;
      }

      &:not(.alignleft) {
        &:not(.alignright) {
          width: 100%;
        }
      }
    }
  }

  a {
    &:visited {
      color: var(--color__primary);
    }
  }

  .comments {
    max-width: 95%;
    margin: 0 auto;
  }

  .footab-container {
    padding: 0 15px;
  }

  .recipe-shortcode-container {
    .details-container {

      .details{
        .description{
          text-align: right;
          line-height: normal;
          font-family: Afek;
          font-size: 17px;
          margin-top: 5px;
          margin-bottom: 19px;
        }
      }
      .recipe-title{
        text-align: center;
        padding-left: 18px !important;
        margin-top: 9px;
      }

      div:not(.details) {

        img {
          width: 100%;
        }

      }

      .content-details-bullets-container{
        display: flex;
        justify-content: space-between;
        .wrapper{
          text-align: right;
          .empty-star{
            width:22px;
          }
        }
      }
    }
  }
}

@include breakpoint(mobileonly) {
  .single-post {
    .foody-content {
      max-width: 100%;
      margin: 0 auto;
      padding: 20px;

      .wp-caption {
        img {
          &[class*="wp-image-"] {
            width: 100%;
          }
        }

        &.aligncenter {
          margin-left: auto;
          margin-right: auto;
        }

        &.alignnone {
          width: 100vw;
        }
      }
    }

    .comments {
      max-width: 95%;
      margin: 0 auto;
    }

    .footab-container {
      padding: 0;
      width: calc(100% - 20px);
      margin: 0 auto;
    }
  }
}