.foody_course-template-page-templates {
  $margin-boxes: 2rem;
  $title-size: 28px;

  .sticky-registration {
    opacity: 0;
    pointer-events: none;
    background-color: #01010178;
    position: fixed;
    width: 100%;
    padding: 1rem 0;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 2;
    @import "course-registration-button";
  }

  #primary {

    text-align: right;

    .divider {
      margin: 10px 1rem;
      height: 1px;
      background: #cccccc;
    }

    .cover-image {
      img {
        border-radius: 10px;
      }
    }

    .efrat-cover-image{
      .cover-image {
        img {
          border-radius: 10px;
          height: 77vh;
        }
      }
    }

    .cover-video {
      margin: 10px 0;

      iframe {
        border-radius: 10px;
      }
    }

    .cover-image-html-area,
    .cover-image-html-area-mobile{
      .hero-image{
        height: 77vh;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .main-cover-image {
      margin: 10px 0;

      img {
        border-radius: 10px;
      }
    }

    .about {
      margin: $margin-boxes 0;
    }

    .course-information {
      margin: $margin-boxes 0;
      background-color: #e7e4e4;

      .course-information-top-section {
        padding: 1.5rem 0;
        margin: 0 2rem;
        border-bottom: 1px solid white;

        .information-item {
          display: inline-block;
          vertical-align: top;
          width: 50%;
          text-align: center;
          padding: 0 2.5rem;

          .information-title {
            font-size: $title-size;
            font-weight: 900;
          }

          &:last-child {
            border-right: 1px solid white;
          }
        }
      }

      .course-information-bottom-section {
        text-align: center;
        position: relative;
        padding: 40px;

        .information-item {
          &.price {
            position: absolute;
            right: 2rem;
            bottom: 3rem;
            text-align: right;

            .price-text {
              display: inline-block;
              width: 60%;
              vertical-align: middle;
            }

            .price-number {
              display: inline-block;
              width: 30%;
              vertical-align: middle;
              margin-right: 5px;
              font-weight: bold;
              font-size: 1.2rem;
              line-height: 1.6rem;
            }
          }

          &.information-registration-link {
            @import "course-registration-button";
          }
        }
      }
    }

    .course-is-for {
      border-radius: 15px;
      border: solid 3px #f05346;
      background-color: #ffffff;
      padding: 15px 20px;
      margin: $margin-boxes 0;
      text-align: center;

      .course-is-for-title {
        text-align: center;
        font-size: $title-size;
        font-weight: 900;
      }

      .course-is-for-bullets {
        color: var(--color__text-title);
        margin: 20px 0;
        padding: 0;
        text-align: center;

        .course-is-for-item {
          background: url('/app/themes/Foody/resources/images/icons/check-mark.svg') no-repeat 100% top;
          background-size: 20px;
          list-style: none;
          padding: 0 25px 0 0;
          display: inline-block;
          vertical-align: top;
          width: 33%;
          text-align: right;

          .course-is-for-bullet {
          }
        }
      }

      .course-is-for-registration-link{
        a{
          display: inline-block;
          font-size: 28px;
          font-weight: 700;
          border-radius: 15px;
          background-color: #ef4049;
          padding: 0.5rem 3rem;
          color: white;
          margin-bottom: 5px;
        }
      }

      .course-is-for-image {
        text-align: center;
      }
    }

    .how-it-works {
      background: #b6e6faa8;
      padding: 0.5rem 0.5rem 1.5rem;
      margin: $margin-boxes 0;
      text-align: center;

      .how-it-works-title {
        text-align: center;
        font-size: $title-size;
        font-weight: 900;
      }

      .how-it-works-bullets {
        text-align: right;
        padding: 15px 0 25px;

        .how-it-works-item {
          position: relative;
          display: inline-block;
          vertical-align: top;
          width: 33%;
          padding: 0.5rem 1rem;

          .how-it-works-step-number {
            display: inline-block;
            vertical-align: top;
            text-align: center;
            padding: 0.5% 5%;
            border-radius: 50%;
            background-color: #ef4049;
            color: white;
            font-size: 25px;
            font-weight: 900;
          }

          .how-it-works-step {
            display: inline-block;
            vertical-align: top;
            width: 84%;
            padding-right: 10px;
            font-size: 14px;
            line-height: 20px;
          }

          hr.divider {
            transform: rotate(90deg);
            width: 25%;
            top: 25px;
            left: -40px;
            background-color: white;
            position: absolute;
          }
        }
      }

      .how-it-works-image {
        padding: 15px 15px 25px;
        width: 100%;
      }

      .how-it-works-registration-link {
        @import "course-registration-button";
      }
    }

    .feeling-images {
      text-align: center;
      margin: $margin-boxes 0 3rem;

      .title {
        text-align: center;
        font-size: 28px;
        font-weight: 900;
      }

      .feeling-image {
        margin-top: 2rem;
      }
    ;
    }

    .course-plan {
      text-align: center;
      margin: $margin-boxes 0;

      .course-plan-title {
        font-size: $title-size;
        font-weight: 900;
        color: var(--color__text-primary-dark);
      }

      .course-plan-container {
        background-color: #e7e4e4;
        padding: 1rem 1rem 2rem;
        margin-top: 1rem;

        .course-plan-classes {
          margin-bottom: 2rem;

          .course-class-item {
            background-color: white;
            border: solid 1px #cccccc;
            margin-bottom: 1rem;
            padding: 1rem 1.5rem;

            .course-class-number {
              font-size: $title-size;
              font-weight: 900;
              color: var(--color__text-title);
              display: inline-block;
              vertical-align: middle;
              margin-left: 2rem;
            }

            .course-class-name {
              display: inline-block;
              vertical-align: middle;
              width: 12%;
              text-align: right;
              font-weight: 700;
              line-height: normal;
              margin-left: 2rem;
            }

            .course-class-info {
              display: inline-block;
              vertical-align: middle;
              width: 75%;
              text-align: right;
              line-height: normal;
            }
          }
        }

        .classes-registration-link {
          @import "course-registration-button";
        }
      }
    }

    .course-promotions {
      text-align: center;
      margin: $margin-boxes 0;
    }

    .course-coupon-promotions {
      text-align: center;
      margin: $margin-boxes 0;

      .course-coupon-promotion {
        display: inline-block;
        width: 50%;
        vertical-align: top;
      }
    }

    .recommendations {
      text-align: center;
      margin: $margin-boxes 0;

      .recommendations-title {
        font-size: $title-size;
        font-weight: 900;
      }

      .recommendations-container {
        opacity: 0;
        height: 0;
        transition: opacity 0.1s;
        margin: 20px 0;

        &.slick-initialized {
          opacity: 1;
          height: auto;
        }

        i.slick-arrow {
          position: absolute;
          top: 1rem;

          &:before {
            color: var(--color__primary);
          }

          &.prev {
            z-index: 1;

            &:before {
              transform: rotate(180deg);
              display: inline-block;
            }

            right: 1rem;
          }

          &.next {
            left: 1rem;
          }
        }

        .recommendation-item {
          //Override inline width
          width: 85% !important;

          .recommendation-name {
            text-align: left;
            padding-left: 1rem;
            font-weight: bold;
          }
        }

        .slick-dots {
          text-align: center;

          li {
            display: inline-block;
            margin: 0 5px;

            button {

              border-radius: 50%;
              width: 14px;
              height: 14px;
              background-color: var(--color__text-primary-dark);
              color: transparent;
              min-height: 12px;
              padding-right: 0;
              border: none;

            }

            &.slick-active {
              button {
                background-color: #ef4049;
              }
            }
          }
        }
      }
    }

    .legal-text {
      margin: $margin-boxes 0;
      padding: 2rem 1rem;
      text-align: right;
    }

    .legal-registration-link {
      text-align: center;
      margin: 1rem 0 3rem;
      @import "course-registration-button";
    }

    .course-share {
      background-color: #b6e6faab;
      padding: 1rem;

      .social-title {
        text-align: center;
        font-size: $title-size;
        font-weight: 700;
      }

      .essb_links_list {
        text-align: center;

        .essb_item {
          margin: 1rem !important;

          a {
            color: #b6e6fa !important;
            background-color: #ef4049 !important;

            &:hover {
              color: #fff !important;
            }
          }

          &.essb_link_whatsapp a:hover {
            background-color: #1D9E11 !important;
          }

          &.essb_link_facebook a:hover {
            background-color: #3a579a !important;
          }

          &.essb_link_pinterest a:hover {
            background-color: #cd1c1f !important;
          }

          &.essb_link_gmail a:hover {
            background-color: #dd4b39 !important;
          }
        }
      }
    }

    .newsletter-container {
      background-color: #d8d8d8;
      padding: 10px 20px;
      margin: $margin-boxes 0 10px;

      .newsletter-title {
        font-size: 16px;
        font-weight: 500;
        text-align: right;
        color: var(--color__primary);
      }

      .newsletter {
        padding: 0;
        margin-bottom: 0;
      }

      .newsletter-title {
        font-size: 16px;
        font-weight: 500;
        text-align: right;
        color: var(--color__primary);
      }

      p {
        margin: 0;
        text-align: right;

        input:not([type="checkbox"]) {
          border: none;
          height: 40px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
          background-color: #ffffff;

          &[type="email"] {
            width: 70%;
            margin-left: 10px;
          }

          &[type="submit"] {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            color: var(--color__primary);
            font-weight: 900;
          }

          &::placeholder {
            opacity: 0.5;
            font-size: 12px;
            text-align: right;
            color: #4a4a4a;
          }
        }
      }

      .foody-form-message {
        text-align: right;
      }
    }
  }
}

@include breakpoint(mobileonly) {

  .foody_course-template-page-templates {

    #primary {

      .cover-image {
        padding: 0 1rem;
        margin-top: 1rem;
      }

      .efrat-cover-image{
        height: 77vh;
        .cover-image {
          height: 77vh;
          padding: 0;
          margin: 0;
          img {
            height: 77vh;
          }
        }
      }

      .cover-video {
        text-align: center;
        padding: 0 1rem;

        iframe {
          width: 100%;
          height: 210px;
          margin-top: 1rem;
        }
      }

      .main-cover-image {
        padding: 0 1rem;
        margin-top: 1rem;
      }

      .about {
        padding: 0 1rem;
      }

      .course-information {
        .course-information-top-section {
          .information-item {
            display: block;
            width: 100%;
            padding: 1rem 0;
            margin-bottom: 1rem;

            &:nth-child(2) {
              border-top: 1px solid white;
            }

            &:last-child {
              border-right: none;
            }
          }
        }

        .course-information-bottom-section {
          padding: 1rem 0 3rem;

          .information-item {
            &.price {
              position: static;
              padding: 0 1rem 1rem;
              text-align: center;

              .price-text {
                width: auto;
              }

              .price-number {
                width: auto;
                line-height: 1.4rem;
              }
            }

            &.information-registration-link {
              display: inline-block;
              width: 85%;
            }
          }
        }
      }

      .course-is-for {
        margin: 2rem 1rem;

        .course-is-for-title {
          text-align: right;
          padding-right: 40px;
        }

        .course-is-for-bullets {
          .course-is-for-item {
            display: block;
            width: 100%;

            &:nth-child(1) {

            }

            &:nth-child(3n) {
              margin-bottom: 2rem;
            }
          }
        }
      }

      .how-it-works {
        .how-it-works-bullets {
          .how-it-works-item {
            text-align: center;
            padding: 0.5rem 1rem;
            display: block;
            width: 100%;

            .how-it-works-step-number {
              padding: 0.5% 4%;
              margin-bottom: 1rem;
            }

            .how-it-works-step {
              display: block;
              width: 100%;
              padding: 0 2rem;
            }

            hr.divider {
              width: 85%;
              top: 10px;
              left: -1rem;
              transform: none;
              position: relative;
            }
          }
        }

      }

      .course-plan {
        .course-plan-container {
          .course-plan-classes {
            .course-class-item {
              padding: 1rem;

              .course-class-number {
                margin-left: 0;
              }

              .course-class-details {
                display: inline-block;
                vertical-align: middle;
                width: 80%;
                margin-right: 5%;

                .course-class-name {
                  display: block;
                  width: 100%;
                }

                .course-class-info {
                  display: block;
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .course-promotions {
        margin: 2rem 1rem;
      }

      .course-share {
        margin: 1rem 0;

        .essb_links {
          .essb_links_list {
            .essb_item {
              margin: 0.5rem !important;
            }
          }
        }
      }

      .recommendations {
        .recommendations-container {
          .recommendation-item {
            width: 80%;
            margin-bottom: 1rem;

            .recommendation-name {
              margin-top: 0.5rem;
            }
          }
        }
      }

      .newsletter-container {
        display: none;
      }
    }
  }
}