@import "../../variables-site/colors";

.page-template-foody-course-register {

  #primary{
    background-color: white;
    .cover-section{
      position: relative;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid red;
      padding: 3% 0;

      .host-image{
        border-radius: 100%;
        width: 45%;

        img{
          border-radius: 100%;
          position: relative;
          right: -30%;
          border: 1px solid red;
        }
      }

      .course-information{
        align-self: center;
        text-align: center;
        font-size: 17px;
        margin-right: -8%;
        font-weight: bold;
        width: 55%;

        .course-title{
          font-size: 22px;
          color: red;
        }

        .course-cover-text{
          line-height: 1rem;
          white-space: pre;
        }
      }
    }

    .form-section{
      .form-container{
        .form-title{
          text-align: center;
          margin-top: 3%;
        }

        .container-fluid{
          #course-register-form{
            .form-group{
              display: flex;
              flex-direction: column;
              align-items: baseline;

              input{
                width: 100%;
              }
            }
          }
        }
      }

      .coupon-and-price-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $color__primary;
        width: fit-content;
        padding: 0 3%;
        line-height: 1.3;
        margin: 5% auto;

        .price-line{
          font-weight: bold;
          color: $color__primary;
        }

        .coupon-line{
          font-weight: bold;
        }
      }

      .newsletter-and-terms{
        display: flex;
        flex-direction: column;
        text-align: right;
        padding: 0px 3%;

        .checkbox-label{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        input{
          height: 22px;
          width: 5%;
        }

        label{
          width: 92%;
          white-space: pre;
          font-size: 12px;
          font-weight: 500;

          .terms-link{
            text-decoration: underline !important;
          }
        }
      }
    }
  }
}

@include breakpoint(desktop) {
  .page-template-foody-course-register {
    #primary {
      background-color: white;

      .cover-section {
        .host-image {
          padding-left: 2%;
          img {
            right: 0;
            width: 55%;
          }
        }

        .course-information{
          .course-title{
            font-size: 38px;
          }

          .course-cover-text{
            font-size: 26px;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
}