.foody_course-template-page-templates {

  #primary {
    text-align: right;

    .cover-video {
      margin: 10px 0;

      iframe {
        border-radius: 10px;
      }
    }

    .about {
      margin: 15px 0;
    }

    .course-information {
      margin: 15px 0;
      background-color: #e7e4e4;

      .course-information-top-section {
        padding: 1.5rem 0;
        margin: 0 2rem;
        border-bottom: 1px solid white;

        .information-item {
          display: inline-block;
          vertical-align: top;
          width: 50%;
          text-align: center;
          padding: 0 2.5rem;

          .information-title {
            font-size: 28px;
            font-weight: 900;
          }

          &:last-child {
            border-right: 1px solid white;
          }
        }
      }

      .course-information-bottom-section {
        text-align: center;
        position: relative;
        padding: 40px;

        .information-item {
          &.price {
            position: absolute;
            right: 2rem;
            bottom: 3rem;

            .price-number {
              margin-right: 5px;
              font-weight: bold;
            }
          }

          &.information-registration-link {
            //a {
            //  font-size: 28px;
            //  font-weight: 700;
            //  border-radius: 15px;
            //  background-color: #ef4049;
            //  padding: 0.5rem 3rem;
            //  color: white;
            //}
            @import "course-registration-button";
          }
        }
      }
    }

    .course-is-for {
      border-radius: 15px;
      border: solid 3px #f05346;
      background-color: #ffffff;
      padding: 15px 20px;
      margin: 15px 0;

      .course-is-for-title {
        text-align: center;
        font-size: 28px;
        font-weight: 900;
      }

      .course-is-for-bullets {
        color: var(--color__text-title);
        margin-top: 20px;

        .course-is-for-item {
          background: url('/app/themes/Foody/resources/images/icons/check-mark.svg') no-repeat 100% top;
          background-size: 20px;
          list-style: none;
          padding: 0 25px 0 0;
          display: inline-block;
          vertical-align: top;
          width: 33%;

          .course-is-for-bullet {
          }
        }
      }
    }

    .how-it-works {
      background: #b6e6faa8;
      padding: 0.5rem 0.5rem 1.5rem;
      margin: 15px 0;
      text-align: center;

      .how-it-works-title {
        text-align: center;
        font-size: 28px;
        font-weight: 900;
      }

      .how-it-works-bullets {
        text-align: right;
        padding: 15px 0 25px;

        .how-it-works-item {
          display: inline-block;
          vertical-align: top;
          width: 33%;
          padding: 0.5rem 1rem 0.5rem 0;

          .how-it-works-step-number {
            display: inline-block;
            vertical-align: top;
            text-align: center;
            padding: 0.5% 5%;
            border-radius: 50%;
            background-color: #ef4049;
            color: white;
            font-size: 28px;
            font-weight: 900;
          }

          .how-it-works-step {
            display: inline-block;
            vertical-align: top;
            width: 84%;
            padding-right: 10px;
            font-size: 14px;
            line-height: 20px;
          }

          &:not(:last-child) {
            border-left: 1px solid white;
          }
        }
      }

      .how-it-works-registration-link {
        @import "course-registration-button";
      }
    }

    .course-plan {
      text-align: center;
      margin: 15px 0;

      .course-plan-title {
        font-size: 28px;
        font-weight: 900;
        color: var(--color__text-primary-dark);
      }

      .course-plan-container {
        background-color: #e7e4e4;
        padding: 1rem 1rem 2rem;

        .course-plan-classes {
          margin-bottom: 2rem;

          .course-class-item {
            background-color: white;
            margin-bottom: 1rem;
            padding: 1rem 1.5rem;

            .course-class-number {
              font-size: 28px;
              font-weight: 900;
              color: var(--color__text-title);
              display: inline-block;
              vertical-align: middle;
              margin-left: 2rem;
            }

            .course-class-name {
              display: inline-block;
              vertical-align: middle;
              width: 12%;
              text-align: right;
              font-weight: 700;
              line-height: normal;
              margin-left: 2rem;
            }

            .course-class-info {
              display: inline-block;
              vertical-align: middle;
              width: 75%;
              text-align: right;
              line-height: normal;
            }
          }
        }

        .classes-registration-link {
          @import "course-registration-button";
        }
      }
    }

    .course-promtions {
      text-align: center;
      margin: 15px 0;

      .course-promtion {
        display: inline-block;
        vertical-align: top;
        width: 33%;
      }
    }

    .recommendations {
      text-align: center;
      margin: 15px 0;

      .recommendations-title {
        font-size: 28px;
        font-weight: 900;
      }

      .recommendations-container {
        opacity: 0;
        height: 0;
        transition: opacity 0.1s;
        margin: 20px 0;

        &.slick-initialized {
          opacity: 1;
          height: auto;
        }

        i.slick-arrow {
          position: absolute;
          top: 1rem;

          &:before {
            color: var(--color__primary);
          }

          &.prev {
            &:before {
              transform: rotate(180deg);
              display: inline-block;
            }

            right: 1rem;
          }

          &.next {
            left: 1rem;
          }
        }

        .recommendation-item {
          //Override inline width
          width: 85% !important;
        }
      }
    }
  }
}

@include breakpoint(mobileonly) {

  .foody_course-template-page-templates {

  }
}