@import "../../variables-site/colors";

.page-template-foody-courses-homepage {
  $margin-boxes: 2rem;
  $title-size: 28px;

  a:visited,
  a:hover {
    color: unset;
  }

  #masthead {
    z-index: 9999;
  }

  #primary {
    background-color: white;
    text-align: center;

    .courses-section {
      padding: 5px 0;

      .courses-list {
        display: flex;
        flex-direction: column;
        border-top: 1px $color__primary solid;
        border-bottom: 1px $color__primary solid;
        position: relative;

        .title-image-container {
          margin-top: 3%;

          .main-text {
            margin: 0;
            font-weight: 500;
            padding: 0 5%;
            z-index: 2;
            position: relative;
          }

          .top-image {
            right: 0;
            z-index: 1;
            margin-top: -7%;
            position: absolute;
            width: 30%;
          }
        }

        .title {
          padding: 0 8%;
          font-size: 22px;
          position: relative;
          z-index: 2;
          margin: 8% auto 7%;
        }

        .courses-list-container {
          position: relative;
          z-index: 2;
          margin-bottom: 15%;

          .courses-list-row {
            .course-item {
              margin: 0 15% 5% 15%;
              border: 1px #ED3D48 solid;
              border-radius: 10px;

              .course-item-top {
                position: relative;

                .item-image {
                  border-radius: 10px 10px 0 0;
                }

                .course-name-container {
                  display: flex;
                  flex-direction: column;
                  bottom: 5%;
                  font-size: 16px;
                  font-weight: bold;
                  color: white;
                  line-height: 1.1rem;
                  position: absolute;
                  left: 0;
                  right: 0;
                  margin: auto;
                  // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                }
              }

              .course-item-bottom {
                display: flex;
                flex-direction: column;

                .pricing-row {
                  font-size: 14px;
                  font-weight: 500;

                  .sale-text {
                    font-weight: bold;
                  }

                  .new-price {
                    font-weight: bold;
                    color: $color__primary;
                  }
                }

                .action-item-text {
                  margin-top: -3%;
                  margin-bottom: 1%;
                  font-weight: 500;
                  font-size: 16px;
                  color: red;
                }

              }
            }
          }
        }

        .bottom-image {
          bottom: 0;
          position: absolute;
          left: 0;
          width: 30%;
        }
      }
    }
  }
}

@include breakpoint(desktop) {
  .page-template-foody-courses-homepage {
    $margin-boxes: 2rem;
    $title-size: 28px;

    #primary {
      .cover-image {
        img {
          max-height: fit-content;
        }
      }

      .main-title-section {
        .cover-image {
          img {
            max-height: fit-content;
            padding: 0 12%;
          }
        }
      }

      .courses-section {
        .courses-list {
          .title-image-container {
            margin: 1%;

            .main-text {
              padding: 0 27%;
              font-size: 19px;
            }

            .top-image {
              right: 0;
              z-index: 1;
              margin-top: -7%;
              position: absolute;
              width: 25%;
            }
          }

          .title {
            font-size: 28px;
            margin: 3% auto 0 auto;
          }

          .courses-list-container {
            display: flex;
            flex-direction: column;

            .courses-list-row {
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              padding: 0px 14%;
              margin: 2% 0;

              .course-item {
                border-radius: 10px;
                width: 30%;
                box-shadow: 0 0 13px -3px grey;
                border: unset;
                margin: 0;


                .course-item-top {
                  .course-name-container {
                    font-size: 14px !important;
                  }
                }

                .course-item-bottom {
                  .pricing-row {
                    font-size: 13px !important;
                  }

                  .action-item-text {
                    font-size: 15px !important;
                  }
                }
              }
            }

            .bottom-image {
              bottom: 0;
              position: absolute;
              left: 0;
              width: 25%;
            }
          }
        }
      }
    }
  }
}