@import "../../variables-site/colors";

.page-template-foody-course-register {

  #masthead {
    z-index: 999;
  }

  #primary {
    background-color: white;

    .cover-section {
      position: relative;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid red;
      padding: 3% 0;

      .host-image {
        border-radius: 100%;
        width: 36%;
        padding-right: 2%;

        img {
          border-radius: 100%;
          position: relative;
          border: 1px solid red;
        }
      }

      .course-information {
        align-self: center;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        width: 60%;

        .course-title {
          font-size: 22px;
          color: red;
        }

        .course-cover-text {
          line-height: 1rem;
          white-space: normal;
        }
      }
    }

    .form-section:not(:last-child) {
      padding-bottom: 48%;
    }

    .form-section {
      position: relative;
      z-index: 2;

      .form-container {
        .form-title {
          text-align: center;
          margin-top: 3%;
        }

        .container-fluid {
          #course-register-form {
            .form-group {
              display: flex;
              flex-direction: column;
              align-items: baseline;
              padding: 0;

              label {
                position: initial;
                font-size: 16px;
                color: black;
              }

              input {
                width: 100%;
              }
            }
          }
        }
      }

      .coupon-and-price-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $color__primary;
        width: fit-content;
        padding: 0 3%;
        line-height: 1.3;
        margin: 5% auto;

        .price-line {
          font-weight: bold;
          color: $color__primary;
        }

        .coupon-line {
          font-weight: bold;
        }
      }

      .newsletter-and-terms {
        display: flex;
        flex-direction: column;
        text-align: right;

        .checkbox-label {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        input {
          height: 17px;
          width: 5%;
        }

        label {
          width: 92%;
          white-space: normal;
          font-size: 12px;
          font-weight: 500;

          .terms-link {
            text-decoration: underline !important;
          }
        }
      }

      .terms-error {
        text-align: right;
        display: block;
        color: $color__primary;
        font-family: Assistant;
        font-weight: bold;
        font-size: 12px;
      }

      .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 8% 0 0 0;
        width: 100%;

        .bit-pay{
          border: 1px solid dodgerblue;
          border-radius: 5px;
          text-align: center;
          display: inline-block;
          background: dodgerblue;
          color: white;
          font-weight: bold;
          margin: 0 2%;
          padding: 2% 3% 2% 4%;
          position: relative;
          font-size: 13px;
          cursor: pointer;
        }

        .credit-card-pay {
          border: 1px solid $color__primary;
          border-radius: 5px;
          width: 51%;
          text-align: center;
          display: inline-block;
          background: $color__primary;
          color: white;
          font-weight: bold;
          margin: 0 2%;
          padding: 2% 3% 2% 12%;
          position: relative;
          font-size: 13px;
          cursor: pointer;

          img {
            width: 20%;
            position: absolute;
            left: 3%;
            bottom: 16%;
          }
        }
      }
    }

    .bottom-image {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50%;
    }

    .invoice-notice {
      float: right;
      background: white;
      width: 100%;
      text-align: right;
      position: relative;
      font-weight: bold;
      font-size: 11px;
      padding-bottom: 4%;

      a {
        text-decoration: underline !important;
        color: blue !important;
      }

      a:hover {
        color: red !important;
      }

      a:active {
        color: red !important;
      }
    }
  }

  @media only screen and (orientation: landscape) {
    /* css rules */
    #primary {
      .form-section {
        .button-container {
          .credit-card-pay {
            width: 40%;
          }
        }
      }
    }
  }
}

@include breakpoint(desktop) {
  .page-template-foody-course-register {
    #primary {
      background-color: white;

      .cover-section {
        .host-image {
          padding-left: 2%;

          img {
            right: 0;
            width: 55%;
          }
        }

        .course-information {
          .course-title {
            font-size: 38px;
          }

          .course-cover-text {
            font-size: 26px;
            line-height: 1.5rem;
            white-space: pre;
          }
        }
      }

      .form-section:not(:last-child) {
        padding-bottom: 22%;
      }

      .form-section {
        .form-container {
          .form-title {
            margin-top: 1%;
          }

          .container-fluid {
            #course-register-form {
              padding: 0 15%;
              flex-direction: column;
            }
          }
        }

        .coupon-and-price-container {
          padding: 0 1%;
          margin: 3% auto;
        }

        .newsletter-and-terms {
          padding: 0;

          input {
            width: unset;
          }

          label {
            width: 95%;
            white-space: pre;
            font-size: 16px;
            font-weight: 500;
          }
        }

        .terms-error {
          text-align: right;
          display: block;
          color: $color__primary;
          font-family: Assistant;
          font-weight: bold;
        }

        .button-container {
          .credit-card-pay {
            width: 28%;
            padding: 2% 1% 2% 6%;

            img {
              bottom: 30%;
            }
          }
        }
      }

      .bottom-image {
        width: 30%;
      }
    }


    .invoice-notice {
      font-size: 15px;
      padding-bottom: 2%;
    }
  }
}

.page-template-foody-courses-thank-you {

  #masthead,
  footer {
    display: none;
  }

  #primary {
    background: white;

    .site-content {
      padding-top: 0;
    }


    .foody-content {
      min-height: 1500px;

      .thank-you-text {
        white-space: pre-wrap;
        text-align: center;
        font-size: 1.4rem;
        padding: 5%;
        min-height: 1500px;
      }
    }
  }
}
