@import "../../variables-site/colors";

.foody_course-template-foody-course-new {
  $margin-boxes: 2rem;
  $title-size: 28px;

  .course-v2-purchase-button {
    border: 1px $color__primary solid;
    border-radius: 30px;
    padding: 1% 0;
    width: 320px;
    display: inline-block;
    text-align: center;
    background: $color__primary;
    color: white;
    font-size: 20px;
    font-weight: 500;
  }

  h2 {
    text-align: center;
    margin: 25px 0;
  }

  .sticky-registration {
    opacity: 0;
    pointer-events: none;
    background-color: #01010178;
    position: fixed;
    width: 100%;
    padding: 1rem 0;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 999999999;
    @import "course-registration-button";
  }

  #primary {

    text-align: right;
    background: white;

    .divider {
      margin: 10px 1rem;
      height: 1px;
      background: #cccccc;
    }

    .course-cover {
      position: relative;

      .cover-image {
        img {
          border-radius: 0;
        }
      }

      .host-image {
        width: 25%;
        position: absolute;
        right: 170px;
        top: 170px;
        z-index: 9999;

        img {
          border-radius: 100%;
        }
      }

      .course-information {
        background-color: white;
        display: flex;
        justify-content: space-between;
        margin: 0;

        .cover-textual-information {
          text-align: center;
          width: 50%;
          margin-left: 12%;

          .course-title {
            font-size: 29px;
            font-weight: 500;
          }

          .course-host-name {
            font-size: 40px;
            font-weight: 500;
            color: $color__primary;
            text-align: center;
          }

          .course-cover-text {
            width: 65%;
            margin: 0 auto;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }

      .additional-data {
        background-color: white;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        padding-right: 12%;

        .additional-data-text {
          width: 40%;
          font-weight: bold;
        }

        .promotion-title {
          color: $color__primary;
          width: 33%;
          font-weight: 500;
        }

        .promotion-text {
          width: 67%;
          font-weight: 500;
        }

        .post-ratings {
          border: 1px solid red;
          padding: 10px;
          border-radius: 10px;
          position: relative;
          top: 25px;
          width: fit-content;

          .ratings-index {
            position: relative;
            bottom: 15px;
            right: 11px;
            font-size: 14px;
            color: var(--color__primary);
            font-weight: 600;
          }
        }

        .numbers-and-bottom-image {
          display: flex;
          position: relative;
          top: -77px;

          .course-numbers-container {
            display: flex;
            flex-direction: row;
            float: left;
            width: 78%;
            align-self: flex-end;
            justify-content: space-between;

            .course-number {
              color: $color__primary;
              font-weight: 500;
            }

            .course-number-key {
              font-weight: 500;
              font-size: 22px;
            }
          }
        }
      }
    }

    .gift-and-purchase-buttons {
      position: relative;

      .buttons-container {
        align-items: center;
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: 500;

        .purchase-button-div,
        .gift-button-div {
          margin: 0 1%;
          border: 1px $color__primary solid;
          border-radius: 30px;
          padding: 1% 0;
          width: 320px;
          text-align: center;
        }

        .purchase-button-div {
          background-color: $color__primary;
          color: white;
        }

        .gift-button-div {
          color: $color__primary;

          > img {
            position: relative;
            right: 12px;
            bottom: 5px;
          }
        }
      }
    }

    .what-waiting-section {
      margin: 3%;
      box-shadow: 0 0 13px -3px grey;
      position: relative;

      .course-what-waiting {
        display: flex;
        flex-direction: column;
        position: relative;

        .what-waiting-title-image-container {
          display: flex;
          flex-direction: row;

          img {
            width: 17%;
          }

          .what-waiting-title {
            font-size: 30px;
            color: $color__primary;
            font-weight: 600;
            align-self: center;
            right: 18%;
            position: relative;
          }
        }

        .course-content-items {
          position: relative;
          top: -62px;
          z-index: 999;
          padding: 6%;

          .course-content-items-row {
            display: flex;
            justify-content: space-around;
            margin-bottom: 2%;

            .course-content-item {
              display: flex;
              flex-direction: column;
              width: 25%;

              .item-title {
                font-size: 11px;
                text-align: center;
                background: $color__primary;
                color: white;
                font-weight: 500;
                border-radius: 0 0 7px 7px;
              }
            }
          }
        }

        > img {
          width: 18%;
          position: absolute;
          align-self: flex-end;
          bottom: 0;
        }
      }
    }

    .video-section {
      position: relative;

      .course-main-video {
        .course-main-video-image-container {
          align-items: center;
          display: flex;
          flex-direction: column;

          .top-image {
            width: 18%;
            top: 28px;
            align-self: flex-start;
            position: relative;
          }

          .main-video {
            position: relative;
            z-index: 99999999;
          }

          .video-section-purchase {
            margin: 3% 1% 0 1%;
            border: 1px $color__primary solid;
            border-radius: 30px;
            padding: 1% 0;
            width: 320px;
            text-align: center;
            background: $color__primary;
            color: white;
            font-size: 20px;
            font-weight: 500;
          }

          .bottom-image {
            width: 35%;
            align-self: flex-end;
            bottom: 0;
          }
        }
      }
    }

    .always-wanted-section {
      margin: 3%;
      box-shadow: 0 0 13px -3px grey;
      position: relative;

      .always-wanted-container {
        display: flex;
        flex-direction: column;
        text-align: center;

        .always-wanted-title {
          font-size: 30px;
          color: $color__primary;
          font-weight: 600;
          align-self: center;
          position: relative;
          width: 60%;
          text-align: center;
        }

        .always-wanted-subtitle {
          color: $color__primary;
          margin-top: 2%;
          text-align: center;
          font-size: 20px;
        }

        .always-wanted-text {
          font-size: 16px;
          padding: 0 23%;
          font-weight: bold;
        }

        .always-wanted-section-purchase {
          @extend .course-v2-purchase-button;
          margin: 0 auto;
        }

        .bottom-image {
          width: 60%;
          align-self: center;
        }
      }
    }

    .buy-kit-section {
      margin: 3%;
      box-shadow: 0 0 13px -3px grey;
      position: relative;

      .buy-kit-container {
        display: flex;
        flex-direction: column;

        .buy-kit-title-image-container {
          display: flex;
          flex-direction: row;

          img {
            width: 17%;
            position: relative;
            top: 80px;
          }

          .buy-kit-title {
            font-size: 30px;
            color: $color__primary;
            font-weight: 600;
            align-self: center;
            position: relative;
            width: 60%;
            text-align: center;
          }
        }

        .buy-kit-main-image {
          padding: 0 17%;
        }

        .kit-details-container {
          padding: 0 15%;

          .buy-kit-subtitle {
            color: $color__primary;
            margin-top: 2%;
            font-size: 20px;
          }

          .kit-details-item {
            font-weight: 500;
            line-height: 20px;
          }

          .buy-kit-price {
            color: $color__primary;
            font-weight: 500;
            line-height: 20px;
          }
        }

        .buy-kit-purchase-image-container {
          display: flex;
          flex-direction: row-reverse;

          .bottom-image {
            bottom: 47px;
            width: 24%;
            position: relative;
          }

          .buy-kit-section-purchase {
            border: 1px $color__primary solid;
            border-radius: 30px;
            padding: 1% 0;
            width: 320px;
            text-align: center;
            background: $color__primary;
            color: white;
            font-size: 20px;
            font-weight: 500;
            height: fit-content;
            align-self: center;
            left: 90px;
            position: relative;
          }
        }
      }
    }

    .syllabus-section {
      margin: 3%;
      box-shadow: 0 0 13px -3px grey;
      position: relative;

      .syllabus-container {
        display: flex;
        flex-direction: column;

        .syllabus-title-image-container {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .top-image {
            width: 17%;
            position: relative;
          }

          .syllabus-title {
            font-size: 30px;
            color: $color__primary;
            font-weight: 600;
            align-self: center;
            position: relative;
            width: 65%;
            text-align: center;
          }
        }

        .chapters-container {
          text-align: center;
          padding: 0 15%;

          .chapter-container {
            border: 1px $color__primary solid;
            border-radius: 30px;
            transition: all 0.3s ease-out;
            margin-bottom: 25px;

            .chapter-details {
              margin: 0 auto;


              padding: 2% 0;
              text-align: center;
              line-height: 16px;

              .chapter-title {
                font-size: 17px;
                text-align: center;
                color: $color__primary;
                font-weight: 400;
              }

              .chapter-summery {
                padding: 0 20%;
                margin-bottom: 0;
              }
            }

            .chapter-details:before {
              background: url("../images/stroke-379.svg") no-repeat;
              content: "";
              display: block;
              width: 100%;
              height: 15px;
              position: relative;
              right: -30px;
              top: 30px;
              transition: transform 0.3s ease-out;
            }

            .chapter-bullets {
              width: 82%;
              max-height: 0;
              margin: 20px auto 0;
              text-align: center;
              line-height: 16px;
              transition: all 0.3s ease-out;
              overflow: hidden;

              .details-list {
                font-size: 17px;
                max-height: 0;
                font-weight: 500;
                transition: all 0.3s ease-out;
              }

            }

            &.show-details {

              .chapter-details {
                border-bottom: 1px $color__primary solid;

                &:before {
                  transform: rotateX(180deg);
                }
              }

              .chapter-bullets {
                max-height: 1000px;
              }

              .details-list {
                max-height: 1000px;
              }
            }

          }
        }
      }
    }

    .faq-section {
      box-shadow: 0 0 13px -3px grey;
      margin: 3%;

      .faq-container {

        h2 {
          color: $color__primary;
        }

        padding-bottom: 20px;

        .faq-list {

          max-width: 680px;
          margin: 0 auto;
          text-align: center;

          .faq-item {
            position: relative;
            border: 1px $color__primary solid;
            border-radius: 30px;
            overflow: hidden;
            padding: 20px 0;
            margin-bottom: 20px;

            &:after {
              background: url("../images/stroke-379.svg") no-repeat;
              content: "";
              display: block;
              width: 26px;
              height: 15px;
              position: absolute;
              left: 30px;
              transition: all 0.3s ease-out;
              top: 50%;
              transform: translateY(-50%);
            }

            .faq-item-q {


            }

            .faq-item-a {
              max-height: 0;
              height: 0;
              overflow: hidden;
              transition: all 0.3s ease-out;
            }

            &.show-details {

              &:after {
                top: 0;
                transform: translateY(20px) rotateY(180deg);
              }

              .faq-item-q {
                border-bottom: 1px $color__primary solid;
                padding-bottom: 20px;
              }

              .faq-item-a {
                max-height: 500px;
                height: auto;
                margin-top: 20px;
              }
            }
          }
        }

        .course-v2-purchase-button {
          margin: 0 auto;
          display: block;
        }
      }
    }

    .testimonials-section {


      .testimonials-container {

        margin: 0 auto;


        h2 {
          color: white;
          padding: 20px 0;
          margin: 0;
          background-color: $color__primary;
        }

        .testimonials-slider {

          background-color: $color__primary;

          .slick-list {
            max-width: 700px;
            margin: 0 auto;
          }

          .testimonial-item {
            padding: 0 10px;
          }

          .arrow {
            width: 13px;
            height: 26px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &.arrow-prev {
              right: 110px;
            }

            &.arrow-next {
              left: 110px;
            }
          }
        }

        .video-container {
          width: 100%;
          margin-top: 40px;

          iframe {
            width: 700px;
            margin: 0 auto;
            display: block;
          }
        }

        .course-v2-purchase-button {
          display: block;
          margin: 20px auto;
        }
      }
    }

    .recommendations-section {
      max-width: 700px;
      margin: 0 auto;

      h2 {
        color: $color__primary;
      }
    }


  }
}

@include breakpoint(mobileonly) {
  .foody_course-template-page-templates {
    #primary {

    }
  }
}
