$sidebar-width: 22.5% !default;

@mixin my-channels($width) {
  $my-channels-width: $width;
  .my-channels {
    min-width: $my-channels-width;
    .channels {
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      padding: 0 20px;

      .managed-list {
        list-style-type: none;
        margin: 0;
        padding: 10px 0;

        .managed-list-item {
          padding: 12.5px 0;
          margin: 0;
          font-size: 24px;
          font-family: $font__bold;

          img {
            clip-path: circle();
            margin-left: 14px;
            width: 52px;
          }

          .close {
            display: none;
            float: left;
            line-height: 52px;

            > span {
              font-size: 2rem;
            }
          }

          &:hover {
            .close {
              display: inline-block;
            }
          }

        }
      }
    }
  }
}

.page-template-profile {

  .container-fluid {

    aside {
      width: $sidebar-width;
      min-height: stretch;
      border-left: 1px solid $color__divider;
      background-color: #fff;
      margin-bottom: -#{$size__site-footer};
      padding: 44px 30px;

      #foody-filter {

        padding-right: 30px;

      }
    }

    .content {
      padding-top: 18px;
      width: calc(100% - #{$sidebar-width});
      background-color: #fff;

      .breadcrumb {
        padding-right: 40px;
      }

      .profile-top {

        .user-details {
          text-align: right;
          padding-top: 23px;
          padding-bottom: 31px;
          padding-right: 40px;
          place-items: center;
          .image-container {
            margin-left: 22px;

            img {
              border: 2px solid $color__primary;
              -webkit-clip-path: circle();
              clip-path: circle();
              border-radius: 50%;
            }
          }

          .name-email {
            .email {
              font-size: 15px;
            }

            .edit {
              color: $color__text-primary-light;
            }
          }
        }

        .nav {
          .nav-item {
            margin-left: 30px;
            a {
              font-size: 24px;
              font-weight: 900;
              letter-spacing: -0.1px;
              text-align: center;
              color: $color__primary;
              padding: 10px;

              &:not(.active) {
                color: $color__text-primary-light;
                &:hover {
                  border-color: $color__primary;
                  opacity: .6;
                  color: $color__primary;
                }
              }

              &.active {
                border-color: $color__primary;
              }
            }
          }
        }
      }

      .profile-content {
        background-color: $color__background-screen;
        padding: 0 0 0 35px;

        $my-channels-width: 30%;
        @include my-channels($my-channels-width);

        h2 {
          &.title {
            padding-top: 30px;
            font-size: 32px;
          }
        }

        .tab-content {
          padding: 0;
          min-width: calc(100% - #{$my-channels-width});

          .tab-pane {
            padding: 0 17px;
            .recipe-item-container {
              display: inline-block;
              float: right;

              .recipe-item-image {
                min-height: 272px;
              }
            }
          }
        }
      }

    }

  }

  footer {
    max-width: calc(100% - #{$sidebar-width});
    margin-right: $sidebar-width;
  }
}

@include breakpoint(mobileonly) {
  $sidebar-width: 0px;

  .page-template-profile {

    .container-fluid {

      aside {
        display: none;

        .foody-search-filter {
          padding: 0 24px;
        }
      }

      .content {
        padding-top: 18px;
        width: calc(100% - #{$sidebar-width});
        background-color: #fff;

        .breadcrumb {
          padding-right: 15px;
        }

        .profile-top {

          .user-details {
            text-align: right;
            padding-top: 23px;
            padding-bottom: 0;
            padding-right: 0;
            margin: 0;

            $my-channels-width: 100%;
            @include my-channels($my-channels-width);

            .my-channels {
              padding: 20px;
              margin-top: 15px;
              background-color: $color__background-screen;

              ul, .channels {
                background-color: $color__background-screen;
              }

              ul.managed-list{
                padding-top: 0;
                padding-bottom: 0;
              }

              h2 {
                font-size: 24px;
                margin-bottom: 0;
              }

              .channels {

                box-shadow: none;
                padding-right: 0;

                .managed-list {

                  .managed-list-item {

                    img {

                    }

                    .close {
                      display: inline-block;

                      > span {

                      }
                    }

                    &:hover {
                      .close {

                      }
                    }

                  }
                }
              }
            }

            h1{
              margin-bottom: -4px !important;
            }

            .image-container {
              margin-right: 20px;
              img {
                width: 70px;
              }
            }

            .name-email {
              place-self: flex-end;
              .email {

              }

              .edit {
                color: $color__text-primary-light;
              }
            }
          }

          .nav {
            padding: 0;
            margin: 0;
            .nav-item {
              margin-left: 0;
              padding: 0;
              width: 50%;
              a {
                text-align: center;
                padding: 16px 0;

                &:not(.active) {

                  &:hover {

                  }
                }

                &.active {
                }
              }
            }
          }
        }

        .profile-content {
          background-color: $color__background-screen;
          padding: 0;

          h2 {
            &.title {
              padding-top: 30px;
              font-size: 32px;
            }
          }

          .tab-content {
            padding: 0;
            min-width: 100%;

            .tab-pane {
              padding: 0 17px;
              h2 {
                font-size: 24px;
                padding: 16px 0;
                margin-bottom: 0;
              }
              .recipe-item-container {
                display: inline-block;
                float: right;

                .recipe-item-image {
                  min-height: 272px;
                }
              }
            }
          }
        }

      }

    }

    footer {
      max-width: 100%;
      margin-right: 0;
    }
  }
}