:root{
    --color__text-main: #404040;
}
    .aside{
        border:1px solid hsla(0,0%,59%,.3);
        border-top:none;
        border-bottom:none;
        padding:0px;
        margin:0px;
        min-height: 100%;
        padding-top: 30px;
        position: relative;

    }
.article-content{
    min-width:75%;
   
}
footer {
    background-color: rgba(58, 58, 58, 0.05) !important;
    
}
.post-categories{
list-style: none; 

}
.post-categories li{
    display: inline-block;
    border-radius: 2rem;
    border: 1px solid #3a3a3a;
    font-family: Ploni;
    font-size: 17px;
    text-align: center;
    padding: 2px 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#questionvideo{
    border: none;
}
.question_Title{
    color:var( --color__text-main);
    font-size: 35px;
}
.mainImage{
    width:100%;
    text-align: center;
    padding: 0px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}
.mainImage img{
    width:100%;
}
.related_recepies_conduct{
    direction: rtl;
    text-align: center;
    
}



.related_recepies_conduct img{
    
}
.excerpt{
    margin-top: 10px !important;
}
.siderelated{
    
    margin: 0 auto;
    direction: rtl;
    text-align: right;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
   
}




.details-container{
    padding-top:1px !important;
}
.related_questions_queue{
    margin-bottom: 20px;
}
.related_questions_queue li{
border-radius: 0px !important;    
border:  none !important;
text-decoration: underline !important;
text-align: right !important;
display: block !important;
}

.h1{
    font-size: 35px;
}
.title {
    font-size: 30px !important;
}
.question_Title{
    font-size: 35px !important;
}
.answer{
    text-align: right;
    padding: 5px;
    font-size: 18px;
    direction: rtl;
    margin-bottom: 25px;
    
}

.answerCount{
    direction: rtl;
    text-align: right;
    margin-right: 10px;
font-weight: bold;
}
@media only screen and (min-width: 800px) {
    .related_recepies_conduct{
       
        max-width: 23%;
        display: inline-block;
        padding-right: 3%;
    }
  }

  @media only screen and (max-width: 799px) {
    .related_recepies_conduct{
        max-width: 46%;
        display: inline-block;
        padding-right: 3%;
    }
  }