@mixin related-content() {

  .related-content-title {
    padding: 0 15px;
    color: var(--color__text-title);
    font-family: AfekBold;
    font-weight: 900;
    font-size: 22px;
    text-align: right;
  }

  .related-content {

    &.nolist {
      padding: 0 15px;
    }
    padding: 0 15px;
    border-bottom: 1px solid var(--color__divider);

    .related-item {
      font-family: $font__assistant;
      padding-bottom: 20px;
      line-height: normal;

      .image-container {
        position: relative;
        clip-path: inset(0 round 4px);

        img {
          width: 100%;
        }
      }

      .details {
        .post-title {
          font-family: $font__bold;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 0;
        }

        .author-name {
          unicode-bidi: isolate;
          margin-left: 16px;
        }

        .view-count, .author-name {
          display: inline-block;
          font-weight: normal;
          margin-bottom: 2px;
          margin-right: 2px;
        }
        .view-count {
          .view-count {
            margin-right: 5px;
          }
        }
      }
    }
  }

  @include breakpoint(mobileonly) {

    .related-content-container {

      .related-content-title {
      }

      ul.related-content {

        border-bottom: none;
        .related-item {

          .image-container {

            img {
              //height: 211px;
            }
          }

          .details {
            .post-title {
            }

            .author-name {
            }

            .view-count, .author-name {
            }
          }
        }
      }
    }

  }

  @include breakpoint(tablet-l) {
    .related-content-title {

    }

    .related-content {

      .related-item {

        .image-container {

          img {

          }
        }

        .details {
          .post-title {

          }

          .author-name {

          }

          .view-count, .author-name {

          }
        }
      }
    }
  }
}
