.foody-accordion {

  .foody-accordion-content {
    .card-body {
      padding: 0.85rem 0.45rem 0.45rem;
    }

    i + .main-title {
      margin-left: 15px;
    }

    h5 {
      display: flex;
      a[data-toggle="collapse"] {

        width: 100%;
        color: $color__text-main;
        font-size: 22px;
        font-weight: 900;
        letter-spacing: -0.06px;
        line-height: 23px;
        display: inline-flex;
        flex-grow: 1;

        &:before {
          font-size: 7px;
          position: absolute;
          left: 0;
          line-height: normal;
          transform: translateY(100%);
          color: $color__text-main;
        }

        &.main-title {
          color: $color__primary;
          font-size: 1.4em;
          padding-right: 10px;
        }

        &.collapsed {

          + i.arrow {
            &:before {
              transform: rotate(180deg) translateY(-100%);
            }
          }
        }

      }

      i.arrow {
        transition: transform .3s;

        &:before {
          font-size: 7px;
          position: absolute;
          left: 5em;
          line-height: normal;
          transform: translateY(100%);
          transition: transform .3s;
          color: $color__text-main;;
          cursor: pointer;
        }
      }
    }
  }

  &.foody-accordion-collapsed {
    .foody-accordion-content {
      .card-body {
      }

      i + .main-title {
      }

      h5 {
        a[data-toggle="collapse"] {

          &:before {

          }

          &.main-title {

          }

          &.collapsed {

            + i.arrow {
              &:before {

              }
            }
          }

        }

        i.arrow {
          &:before {
            transform: rotate(180deg) translateY(-100%);
          }
        }
      }
    }
  }

}

@include breakpoint(tablet-l){
  .foody-accordion {

    .foody-accordion-content {
      .card-body {
        padding-right: 0;
        padding-left: 0;
      }

      i + .main-title {

      }

      h5 {

        a[data-toggle="collapse"] {

          &:before {

          }

          &.main-title {

          }

          &.collapsed {

            + i.arrow {
              &:before {

              }
            }
          }

        }

        i.arrow {

          &:before {
            left: 3em;
          }
        }
      }
    }

    &.foody-accordion-collapsed {
      .foody-accordion-content {
        .card-body {
        }

        i + .main-title {
        }

        h5 {
          a[data-toggle="collapse"] {

            &:before {

            }

            &.main-title {

            }

            &.collapsed {

              + i.arrow {
                &:before {

                }
              }
            }

          }

          i.arrow {
            &:before {

            }
          }
        }
      }
    }

  }
}