.foody-accordion {

  .foody-accordion-content {
    position: relative;
    .card-body {
      padding: 0.85rem 0.45rem 0.45rem;
    }

    i + .main-title{
      margin-left: 15px;
    }

    a[data-toggle="collapse"] {

      width: 100%;
      color: $color__text-main;
      font-size: 22px;
      font-weight: 900;
      letter-spacing: -0.06px;
      line-height: 23px;

      &:before {
        font-size: 7px;
        position: absolute;
        left: 20px;
        line-height: normal;
        transform: translateY(100%);
        color: $color__text-main;;
      }


      &.main-title {
        color: $color__primary;
        font-size: 1.4em;
        padding-right: 5px;
      }
    }

    i.arrow:before{
      font-size: 7px;
      position: absolute;
      left: 0;
      line-height: normal;
      transform: translateY(100%);
      color: $color__text-main;;
      cursor: pointer;
    }

    .main-title + i.arrow {
      &:before {
        left: 7px;
      }
    }


  }

}