.recipe-item, .playlist-item {

  .recipe-item-image, .playlist-item-image {
    clip-path: inset(0 round .2em);
    object-fit: cover;
    width: 100%;
  }

  .main-image-container {
    //filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, .15));
    box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.08);
    position: relative;

    $label-size: 84px;
    $label-fold-size: 13px;
    .recipe-label {
      position: absolute;

      top: 10px;
      left: -$label-fold-size;
      display: block;
      //min-width: 100%;
      min-height: $label-size;
      line-height: $label-size;


      span {
        font-family: $font__main;
        background: url('../images/label.svg') no-repeat;
        font-size: 25px;
        font-weight: 900;
        position: relative;
        display: inline-block;
        color: #fff;
        text-align: center;
        padding: 0 3em 0 1.5em;
      }
    }

    .duration {
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: #fff;
      color: $color__primary;
      border-radius: 12px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
      padding: 3px 7.5px;

      i {
        vertical-align: middle;
        &:before {
          vertical-align: text-bottom;
        }
      }

      span {
        display: inline-block;
      }
    }

    .playlist-count {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, .9);
      text-align: center;
      color: $color__primary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-right: none;
      border-radius: 3px 0 0 3px;

      i {
        margin-bottom: 10px;
        &:before {
          font-size: 26px;
        }
      }

      .count {
        font-size: 15px;
      }
    }
  }

  .recipe-item-details, .playlist-item-details {
    font-family: $font__assistant;
    padding: 10px 5px;
    .image-container {

      text-align: right;
      margin-left: 10px;
      margin-top: 10px;
      padding: 0;

      img {
        width: 40px;
        border-radius: 50%;
        max-width: unset;
      }
    }

    h3 {
      margin: 0;
      font-size: 1.5rem;
      font-family: $font__assistant-bold;
      font-weight: bold;
    }

    .description {
      font-size: 1rem;
      text-align: right;
      line-height: normal;
    }

    .view-count {
    }

    ul {
      padding: 0;
      margin: 0;
      overflow: auto;

      li {
        list-style-type: none;
        display: inline-block;
        font-size: 1rem;
      }

      li:not(:first-child):before {
        content: "• ";
        padding: 0 .5rem;
      }
    }

    .favorite {
      text-align: right;
      color: $color__primary;
      padding: 5px 0;

      i {
        cursor: pointer;
        vertical-align: middle;
      }
    }
  }

}

@include breakpoint(mobileonly) {
  .recipe-item {

    .recipe-item-image {

    }

    .main-image-container {
      .recipe-label {
        span {
          font-size: 28px;
          padding: 0 3em 0 1.3em;
          transform: scale(0.6);
          transform-origin: 12px 0;
          top: 0;
        }

      }

      .duration {

        i:before {

        }

        span {

        }
      }
    }

    .recipe-item-details {

      .image-container {

        img {

        }
      }

      h3 {

      }

      .description {

      }

      ul {
        li {
        }

        li:not(:first-child):before {
        }
      }
    }
  }
}