@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icons/icomoon.eot?149mti');
  src: url('../fonts/icons/icomoon.eot?149mti#iefix') format("embedded-opentype"), url('../fonts/icons/icomoon.ttf?149mti') format("truetype"), url('../fonts/icons/icomoon.woff?149mti') format("woff"), url('../fonts/icons/icomoon.svg?149mti#icomoon') format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Asset-1:before {
  content: "\e92d";
}
.icon-Backw:before {
  content: "\e92e";
  color: #e6392b;
}
.icon-Forw:before {
  content: "\e92f";
  color: #e6392b;
}
.icon-Play-on-playlist:before {
  content: "\e930";
  color: #fff;
}
.icon-Playlist:before {
  content: "\e931";
  color: #e6392b;
}
.icon-instagram .path1:before {
  content: "\e900";
  color: rgb(230, 57, 43);
}
.icon-instagram .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-instagram .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(230, 57, 43);
}
.icon-instagram .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(230, 57, 43);
}
.icon-youtube .path1:before {
  content: "\e904";
  color: rgb(230, 57, 43);
}
.icon-youtube .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(230, 57, 43);
}
.icon-youtube .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(230, 57, 43);
}
.icon-youtube .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-facebook .path1:before {
  content: "\e908";
  color: rgb(230, 57, 43);
}
.icon-facebook .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-arrowleft:before {
  content: "\e90a";
}
.icon-celcomtv:before {
  content: "\e90b";
}
.icon-Checkmark:before {
  content: "\e90c";
}
.icon-email .path1:before {
  content: "\e90d";
  color: rgb(230, 57, 43);
}
.icon-email .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-heart-mobile:before {
  content: "\e910";
}
.icon-heart:before {
  content: "\e911";
}
.icon-heartfillred:before {
  content: "\e912";
}
.icon-menu-mobile:before {
  content: "\e913";
}
.icon-more-mobile:before {
  content: "\e914";
}
.icon-more:before {
  content: "\e915";
}
.icon-pinterest .path1:before {
  content: "\e916";
  color: rgb(230, 57, 43);
}
.icon-pinterest .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Search-mobile:before {
  content: "\e918";
}
.icon-search:before {
  content: "\e919";
}
.icon-timeplay:before {
  content: "\e91a";
  color: #e6392b;
}
.icon-Shape:before {
  content: "\e932";
  color: #e6392b;
}
.icon-envelop:before {
  content: "\e91b";
}
.icon-pinterest-recipe:before {
  content: "\e91c";
  color: #c8232c;
}
.icon-printer:before {
  content: "\e91d";
}
.icon-whatsapp:before {
  content: "\e91e";
  color: #75b73b;
}
.icon-big-star-rank:before {
  content: "\e91f";
  color: #d8d8d8;
}
.icon-show-more-arrow:before {
  content: "\e920";
  color: #e6392b;
}
.icon-camera:before {
  content: "\e921";
}
.icon-side-arrow:before {
  content: "\e922";
}
.icon-categories:before {
  content: "\e923";
  color: #e6392b;
}
.icon-filter:before {
  content: "\e924";
  color: #e6392b;
}
.icon-favorite-pressed:before {
  content: "\e925";
  color: #e6392b;
}
.icon-acces:before {
  content: "\e926";
}
.icon-facebook2:before {
  content: "\e927";
  color: #e6392b;
}
.icon-favorite:before {
  content: "\e928";
  color: #e6392b;
}
.icon-mail:before {
  content: "\e929";
  color: #e6392b;
}
.icon-pinterest2:before {
  content: "\e92a";
  color: #e6392b;
}
.icon-youtube2:before {
  content: "\e92b";
  color: #e6392b;
}
.icon-instagram2:before {
  content: "\e92c";
  color: #e6392b;
}
