.page-template-centered-content {
  #primary{
    padding-top: 40px;
  }

  .foody-content {
    .wpcf7 {
      margin-top: 10px;
      form {

        input:not([type="submit"]), textarea {

          border: 2px solid #D0D0D0;
          border-radius: 3px;
          background-color: #FFFFFF;
          resize: none;
          margin-top: 10px;
          width: 100%;
        }

        input:not([type="submit"]) {
          height: 53px;
        }

        input[type="submit"] {
          height: 53px;
          border-radius: 3px;
          background-image: linear-gradient(77deg, #ec3849, #ec3849);
          color: white;
          width: 25%;
          float: left;
          margin-left: 50%;
          font-size: 24px;
          font-family: $font__assistant;
        }

        label {
          color: #333A45;
          font-family: $font__assistant;
          font-size: 18px;
          font-weight: bold;
          width: 50%;
        }

        .wpcf7-validation-errors {
          float: right;
        }
        .wpcf7-mail-sent-ok {
          width: 20%;
          text-align: right;
        }
      }
    }
  }
}

@include breakpoint(mobileonly) {
  .page-template-centered-content {

    .foody-content {
      .wpcf7 {
        form {

          input:not([type="submit"]), textarea {
            width: 100%;
          }

          input:not([type="submit"]) {
          }

          input[type="submit"] {
            width: 50%;
            margin-left: 0;
          }

          label {
            width: 100%;
          }

          .wpcf7-mail-sent-ok {
            float: right;
            margin-bottom: 50px;
          }
        }
      }
    }

  }

}