.page-template-foody-campaign-extended,
.page-template-foody-campaign {

  #primary {

    .hero-container {
      &.hero-video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .cta {
      width: 160px;
      border-radius: 6px;
      background-image: linear-gradient(71deg, #ec3849, #f35644);
      font-family: $font__assistant;
      font-size: 23px;
      font-weight: bold;
      line-height: normal;
      letter-spacing: -0.2px;
      text-align: center;
      color: #ffffff;
      margin: 0 auto;
      display: block;
      padding: 4px 30px;

      &.cta-float {
        margin-top: -60px;
      }

      &:not(.cta-float) {
        margin-bottom: 20px;
      }
    }

    .share-text {
      margin-top: 30px;
    }

    .social {
      display: inline-flex;
      justify-content: center;

      .essb_links.essb_template_round-retina {
        margin-bottom: 0;
        margin-top: 0;

        a {
          color: white !important;
          background-color: var(--color__primary) !important;
        }

      }
    }

    h1 {
      color: var(--color__primary);

    }

    figure {
      h3 {
        font-size: 22px;
        margin-top: 10px;
      }

      .description {
        font-size: 17px;
      }
    }

    .foody-content {
      padding-top: 20px;
    }

    .campaign-how-i-did {

      .header {
        font-family: $font__assistant;

        h2 {
          float: right;
          margin: 0;
          padding: 15px 0;
          font-family: $font__main;
          font-weight: 900;
          font-size: 20px;
        }

        .add-image {
          border-radius: 3px;
          background-color: #ffffff;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
          color: var(--color__primary);
          font-size: 22px;
          display: inline-block;

          input[type="file"] {
            display: none;
          }

          label {
            font-size: 22px;
            padding: 15px;
            cursor: pointer;

            span {
              vertical-align: bottom;
            }
          }

          .icon-camera {
            color: var(--color__primary);
            vertical-align: middle;
            margin-left: 10px;

            &:before {
              font-size: 22px;
            }
          }
        }

      }

      .how-i-did-list {
        padding: 0;
        width: 100%;
        margin-top: 20px;

        .how-i-did {

          .image-container {

            img {
              width: 100%;
              height: 150px;
              border-radius: 3px;
            }

            .waiting-for-approval {
              img {
                height: auto;
              }
            }
          }

          .author {
            font-family: $font__assistant;
            padding: 10px;
            font-size: 15px;
            text-align: right;

            .author-name {
              unicode-bidi: isolate;
              font-weight: bold;
            }

            img {
              clip-path: circle();
            }
          }
        }
      }

      #how-i-did-modal {

        .modal-content {

          .modal-header {
            background-image: linear-gradient(83deg, #ec3849, #f35644);
            color: #ffffff;
            padding: 0;

            .modal-title {
              font-family: $font__main;
              font-size: 28px;
              font-weight: 900;
              place-self: center;
              margin-right: 20px;
            }
            .close {
              float: left;
              margin: 0;
              color: #ffffff;
              opacity: 1;
            }
          }
          .modal-body {
            padding: 0;

            img {
              display: inline-block;
              float: right;
              object-fit: scale-down;
              border-bottom-right-radius: 0.25rem;
            }

            .details {
              display: inline-block;
              float: right;
              text-align: right;
              padding: 20px 5px 5px;
              font-family: $font__assistant;
              font-size: 22px;

              #content{
                word-break: break-word;
              }

              h4 {
                font-weight: bold;
                font-family: $font__assistant;
              }
            }
          }
        }
      }
    }

    #upload-image-modal {

      .modal-header {
        background-image: linear-gradient(78deg, #ec3849, #f35644);
        color: white;
        padding: 10px;
        place-items: center;

        .modal-title {
          font-size: 32px;
          font-weight: 900;
        }

        .close {
          color: white;
          opacity: 1;
          font-size: 32px;
          margin: 0;
          padding: 0;
        }
      }

      .modal-body {
        padding-bottom: 0;

        .image-container {
          text-align: center;

          img {
            width: 33%;
            clip-path: inset(0 round 3px);
            margin-bottom: 15px;
          }
        }

        .comment-input-container {
          width: 100%;
          border-radius: 3px;
          background-color: #ffffff;
          border: solid 1px #e5e5e5;
          padding: 15px;

          input.comment {
            display: block;
            border: none;
            box-shadow: none;
            width: 100%;
          }

          label {
            text-align: right;
            display: block;
            font-family: $font__assistant;
            font-size: 22px;
            font-weight: bold;
          }
        }

        input[type="file"] {
          display: none;
        }

        button.btn {
          margin: 10px 0;
          box-shadow: none;
          font-family: $font__assistant;
          font-size: 22px;
          padding: 0;
          border-radius: 0;

          &.btn-approve {
            color: var(--color__primary);
            font-weight: bold;
            padding-right: 10px;
          }

          &.btn-cancel {
            padding-left: 10px;
            border-left: 1px solid var(--color__divider);
          }

        }

      }

      .modal-footer {
        display: none;
      }
    }
  }

}

@include breakpoint(mobileonly) {
  .page-template-foody-campaign-extended,
  .page-template-foody-campaign {

    #primary {

      picture {
        img {
          width: 100%;
        }
      }

      .cta {

        &.cta-float {
          margin-top: 20px;
        }

        &:not(.cta-float) {

        }
      }

      .share-text {
        margin-top: 10px;
      }

      .social {
        margin-top: 0;

        .essb_links.essb_template_round-retina {
          margin-top: 0;

          a {
          }

        }
      }

      h1 {
        font-size: 28px;
      }

      h2 {
        font-size: 22px;
      }

      figure {
        padding: 0;

        h3 {
        }

        .description {
        }
      }

      .foody-content {
        padding: 0 15px;
      }
    }

    .campaign-how-i-did {
      @include max-width-section;
      margin: 0;
      max-width: 100%;

      #accordion-how-i-did-accordion {

        .foody-accordion-title {
          h5, div.filter-title-h5 {
            i.icon-side-arrow {
              &:before {
                left: 0;
                position: unset;
                line-height: 50px;
                font-size: 11px;
                margin: 0;
              }
            }
          }
        }

        .header {
          .add-image {
            width: 100%;

            .label {
              width: 100%;
              text-align: center;
            }
          }
        }

        .card-body {
          padding: 20px;

          .how-i-did-list {
            margin: 0;
            justify-content: space-between;
            margin-top: 20px;

            .how-i-did {
              .image-container {

                img {
                  height: 10em;
                }
              }

              .author {
                padding: 10px 0 0;

                .author-name {
                  font-family: $font__main;
                  font-size: 18px;
                  font-weight: 900;
                }

                time {
                  font-family: $font__main;
                  font-size: 18px;
                  opacity: 0.5;
                  margin-right: 5px;
                }

                img {
                  height: 24px;
                  width: 24px;
                }

                .col {
                  p {
                    margin-right: -39px;
                    font-size: 18px;
                    line-height: 1.17;
                  }
                }
              }
            }
          }
        }

      }

      #image-upload-hidden {
        text-align: center;
      }

      #how-i-did-modal {
        #content {
          padding-top: 0;
          min-height: unset;
          word-break: break-word;
        }

        .close {
          span {
            font-size: 32px;
          }
        }
      }
    }

    #upload-image-modal {

      .modal-header {

        .modal-title {
        }

        .close {
        }
      }

      .modal-body {
        .image-container {
          img {
          }
        }

        .comment-input-container {

          input.comment {
          }

          label {
          }
        }

        input[type="file"] {
        }

        button.btn {

          &.btn-approve {
          }

          &.btn-cancel {
          }

        }

      }

      .modal-footer {
      }
    }
  }
}

@include breakpoint(desktop) {
  .page-template-foody-campaign-extended,
  .page-template-foody-campaign {

    #primary {
      .campaign-how-i-did {
        .how-i-did-list {
          .how-i-did {
            width: 33.33333%;
            flex: 0 0 33.33333%;
          }
        }
      }
    }
  }
}