body[class*="-template-content-with-sidebar"] {
  $sidebar-width: 21%;
  $content-width: 70%;

  article.content {
    width: calc(100% - #{$sidebar-width});
    margin-bottom: 180px;
  }

  aside {
    min-width: $sidebar-width;
    min-height: 100%;
    border: solid 1px rgba(151, 151, 151, 0.3);
    border-top: none;
    background-color: white;
  }

  footer.site-footer {
    max-width: calc(100% - #{$sidebar-width});
    margin-right: $sidebar-width;
    margin-top: -180px;
  }

}
