body[class~='page-template-content-with-images'] {
  #content {
    max-width: 100%;
    .content-with-images {
      background-color: white;
      .image-container {

        padding: 0;
        position: relative;
        img {
          //position: absolute;

        }
        &.image-container-right {
          text-align: right;
          padding-top: 40px;

        }

        &.image-container-left {
          min-height: 100%;
          display: flex;
          text-align: left;
          justify-content: flex-end;
          img {
            display: inline-block;
            align-self: flex-end;

          }
        }

      }

      .content {
        padding-top: 40px;
      }

    }
  }

}

@include breakpoint(mobileonly) {

  body[class~='page-template-content-with-images'] {

    #page {
      background: white;
      .content-with-images {
        .image-container {
          img {

          }
          &.image-container-right {

          }

          &.image-container-left {
            img {

            }
          }

        }

        .content {
          padding-bottom: 40px;

          form {
            [type="submit"] {
              width: 100%;
            }
          }
        }

      }
    }
  }
}