
body[class~="-template-content-with-sidebar"],
body[class~="author"], body[class~="category"],
body[class~="search"],
body[class~="foody_channel-template-channel"],
body[class~="single-foody_recipe"],
body[class~="single-foody_playlist"],
body[class~="post-template-content-with-sidebar"],
body[class~="single-foody_feed_channel"],
body[class~="single-foody_filter"],
body[class~="single-foody_ingredient"],
body[class~="single-foody_accessory"],
body[class~="single-foody_technique"],
body[class~="tag"] {

  .seo{
    //max-width: 70%;
  }

  #page {
    //background-color: white;
  }

  #main {
    background-color: var(--color__background-screen);
  }

  $sidebar-width: 25%;
  $content-width: 100%;
  .progress-wrapper {
    $progress-height: 5px;
    position: sticky;
    top: 0;
    width: 100%;
    height: 5px;
    z-index: $zindex-dropdown;
    margin-bottom: -$progress-height;

    progress {
      appearance: none;
      width: 100%;
      height: $progress-height;
      background-color: transparent;
      border: none;
      display: inline;

      &::-moz-progress-bar {
        background-color: var(--color__primary);
      }

      &::-webkit-progress-bar {
        background-color: transparent;
      }

      &::-webkit-progress-value {
        background-color: var(--color__primary);
      }

      &::-ms-fill {
        background-color: var(--color__primary);
      }
    }
  }

  article.content {
    width: calc(100% - #{$sidebar-width});
  }

  @import "../common/sidebar";

  @include foody-sidebar($sidebar-width);

  .details-container {
    padding: 10px 0;

    background-color: white;
    .featured-content-container {
      clip-path: inset(0 round 0px);
      margin: 0 10px 10px;

      iframe {
      }

      .wp-post-image {
        width: 100%;
      }
    }
    .details {

      max-width: $content-width;

      .post-categories {
        padding: 0;
        margin: 0;
        color: var(--color__text-primary-light);
        list-style-type: none;

        li {
          display: inline-block;
          padding: 10px 0 5px 25px;
          font-family: $font__assistant;
          vertical-align: inherit;

          &:first-child {
            padding-right: 0;
          }
        }
      }

      .recipe-details {

        font-family: $font__assistant;
        .image-container {

          text-align: right;
          padding: 0;
          display: flex;
          margin-left: 3px;
          align-self: center;
          img {
            width: 52px;
            border-radius: 50%;
            max-width: unset;
          }
        }

        h1 {
          margin: 0;
          font-size: 28px;
          font-family: $font__assistant-bold;
          font-weight: bold;
        }

      }

      .description {
        text-align: right;
        line-height: normal;
        //padding: 10px 0;
        font-family: $font__assistant;
        font-size: 19px;
        margin-top: 5px;
      }

      .view-count {
      }



      .favorite {
        text-align: left;
        color: var(--color__primary);
        font-family: $font__assistant;

        i {
          vertical-align: middle;
        }
      }

      .social {
        .social-title {
          margin: 1em;
          margin-right: 0;
          line-height: 28px;
        }
        .essb_links {
          float: left;
          .essb_links_list {

            li {
              margin-left: 2px !important;
              box-shadow: none;

              &.essb_link_whatsapp {

                a {
                  &:hover {
                    background-color: #75b73b !important;
                  }
                }
              }
              &.essb_link_pinterest {

                a {

                  &:hover {
                    background-color: #c8232c !important;
                  }
                }
              }
              &.essb_link_mail, &.essb_link_print {

                a {
                  &:hover {
                    background-color: #3a3a3a !important;
                  }
                }
              }

              &.essb_link_facebook {

                a {

                  &:hover {
                    background-color: var(--color__facebook) !important;
                  }
                }
              }
              a {

                .essb_network_name {
                }

                .essb_icon {
                  color: white;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;

                  &:before {
                    top: 6px;
                    left: 6px;
                  }
                }
              }
            }
          }

        }

        .btn-facebook {
          margin: 18px 2px;
          background-color: var(--color__facebook);
          font-family: $font__assistant;
          color: white;
          padding: 0 10px;
          font-size: 15px;
          font-weight: bold;
          height: 30px;

          a{
            color: white;

            &:hover{
              color: white;
            }
          }
        }
      }

      .favorite {
        text-align: left;
      }
    }

    ul.content-details-bullets {
      padding: 0;
      margin: 0;
      overflow: auto;
      display: flex;

      li:not(:first-child):before {
        content: "• ";
        padding: 0 .5rem;
        color: var(--color__primary);
      }

      li {
        list-style-type: none;
        display: inline-block;
        font-size: 18px;
        font-family: $font__assistant;

        &.no-bullet {
          flex-grow: 1;
          &:before {
            content: '';
            padding: 0;
          }
        }
      }

    }
  }

}

@include breakpoint(mobileonly) {
  body[class*="-template-content-with-sidebar"],
  body[class~="author"],
  body[class~="category"],
  body[class~="search"],
  body[class~="foody_channel-template-channel"],
  body[class~="post-template-content-with-sidebar"],
  body[class~="single-foody_feed_channel"],
  body[class~="single-foody_filter"],
  body[class~="single-foody_ingredient"],
  body[class~="single-foody_accessory"],
  body[class~="single-foody_technique"],
  body[class~="tag"] {
    $sidebar-width: 100%;
    $content-width: 100%;

    .seo{
      max-width: $content-width;
      padding: 0 10px 10px;
    }
    article.content {
      width: $content-width;
      margin-bottom: 0;
    }

    aside {
      min-width: $sidebar-width;
      min-height: 100%;
      //border: solid 1px rgba(151, 151, 151, 0.3);
      border-top: none;
      background-color: white;
      padding: 80px 0 0;
      padding-top: 10px;
    }

    .details-container {
      .details {

        .post-categories {

          li {

            &:first-child {
            }
          }
        }

        .recipe-details {

          .image-container {

            img {
            }
          }

          h1 {
          }

        }

        .social {
          margin-top: 10px;
          border-top: 1px solid var(--color__divider);
          flex-flow: row wrap;
          .social-title {
            width: 100%;
          }
          .essb_links {
            float: right;
            margin: 0;
            .essb_links_list {

              li {

                &:not(:first-child):before {

                }

                &.essb_link_whatsapp {

                  a {

                    &:hover {

                    }
                  }
                }
                &.essb_link_pinterest {

                  a {

                    &:hover {

                    }
                  }
                }
                &.essb_link_mail, &.essb_link_print {

                  a {

                    &:hover {

                    }
                  }
                }
                a {

                  .essb_network_name {
                  }

                  .essb_icon {

                    &:before {
                      top: 9px;
                      left: -4px;
                    }
                  }
                }
              }
            }

          }

          .btn-facebook {

          }
        }

        .description {
          //margin-right: -25%;

          .post-bullets-container {
            //padding: 10px 0;
          }
        }

        .view-count {
        }

        ul.content-details-bullets {

          li:not(:first-child):before {

          }

          li {

            &.no-bullet {

              &:before {

              }
            }
          }

        }

        .favorite {

          //margin-right: -25%;
          text-align: right;
          font-size: 18px;
          i {

          }
        }

        .favorite {

        }
      }
    }

  }

}

@include breakpoint(tablet) {

  body[class~="-template-content-with-sidebar"],
  body[class~="author"], body[class~="category"],
  body[class~="search"],
  body[class~="foody_channel-template-channel"],
  body[class~="single-foody_recipe"],
  body[class~="single-foody_playlist"],
  body[class~="post-template-content-with-sidebar"],
  body[class~="single-foody_feed_channel"],
  body[class~="single-foody_filter"],
  body[class~="tag"] {
    .progress-wrapper {

      progress {

        &::-moz-progress-bar {

        }

        &::-webkit-progress-bar {

        }

        &::-webkit-progress-value {

        }

        &::-ms-fill {

        }
      }
    }

    article.content {
    }

    aside {

      .categories-accordion-widget {
        display: none !important;
      }

      .widget {
        display: none;
        &:before {

        }
        &.widget_text {

          .widgettitle {

          }
        }
      }

    }

    .details-container {

      .featured-content-container {

        iframe {

        }

        .wp-post-image {

        }
      }
      .details {

        .post-categories {

          li {

            &:first-child {

            }
          }
        }

        .recipe-details {

          .image-container {

            img {

            }
          }

          h1 {

          }

          .description {

          }

          .view-count {
          }

          ul.content-details-bullets {

            li:not(:first-child):before {

            }

            li {

              &.no-bullet {

                &:before {

                }
              }
            }

          }

          .favorite {

            i {

            }
          }
        }

        .social {
          .essb_links {

            .essb_links_list {

              li {

                &:not(:first-child):before {

                }

                &.essb_link_whatsapp {

                  a {

                    &:hover {

                    }
                  }
                }
                &.essb_link_pinterest {

                  a {

                    &:hover {

                    }
                  }
                }
                &.essb_link_mail, &.essb_link_print {

                  a {

                    &:hover {

                    }
                  }
                }
                a {

                  .essb_network_name {
                  }

                  .essb_icon {

                    &:before {

                    }
                  }
                }
              }
            }

          }

          .btn-facebook {

          }
        }

        .favorite {

        }
      }
    }

  }
}

@include breakpoint(tablet-l) {

  body[class~="-template-content-with-sidebar"],
  body[class~="author"], body[class~="category"],
  body[class~="search"],
  body[class~="foody_channel-template-channel"],
  body[class~="single-foody_recipe"],
  body[class~="single-foody_playlist"],
  body[class~="post-template-content-with-sidebar"],
  body[class~="single-foody_feed_channel"],
  body[class~="single-foody_filter"],
  body[class~="tag"] {
    $sidebar-width: 25%;
    .progress-wrapper {

      progress {

        &::-moz-progress-bar {

        }

        &::-webkit-progress-bar {

        }

        &::-webkit-progress-value {

        }

        &::-ms-fill {

        }
      }
    }

    article.content {
      width: calc(100% - #{$sidebar-width});
    }

    aside {
      min-width: $sidebar-width;

      .widget {

        &:before {

        }
        &.widget_text {

          .widgettitle {

          }
        }
      }

    }
    .details-container {

      .featured-content-container {

        iframe {

        }

        .wp-post-image {

        }
      }
      .details {

        .post-categories {

          li {

            &:first-child {

            }
          }
        }

        .recipe-details {

          .image-container {

            img {

            }
          }

          h1 {

          }

          .description {

          }

          .view-count {
          }

          ul.content-details-bullets {

            li:not(:first-child):before {

            }

            li {

              &.no-bullet {

                &:before {

                }
              }
            }

          }

          .favorite {

            i {

            }
          }
        }

        .social {
          .essb_links {

            .essb_links_list {

              li {

                &:not(:first-child):before {

                }

                &.essb_link_whatsapp {

                  a {

                    &:hover {

                    }
                  }
                }
                &.essb_link_pinterest {

                  a {

                    &:hover {

                    }
                  }
                }
                &.essb_link_mail, &.essb_link_print {

                  a {

                    &:hover {

                    }
                  }
                }
                a {

                  .essb_network_name {
                  }

                  .essb_icon {

                    &:before {

                    }
                  }
                }
              }
            }

          }

          .btn-facebook {

          }
        }

        .favorite {

        }
      }
    }
  }
}