$sidebar-width:21%;


footer.site-footer {
  background-color: rgba(58, 58, 58, 0.05);
  padding: 25px 42px;

  width: calc(100% - #{$sidebar-width});
  margin-right: calc(#{$sidebar-width} - 1px);
  //position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  right: 0;
  border-right: 1px solid hsla(0,0%,59%,.3);

  ul {
    &.menu {
      font-family: $font__assistant;
      height: 100%;
      display: inline-block;
      float: right;
      list-style-type: none;
      padding: 0 10px;
      font-size: 15px;
      margin: 0;

      &:not(:last-child) {
        border-left: solid 1px $color__divider;
      }

      li {
        font-size: 15px;
        line-height: normal;
        text-align: right;
        padding: 0;

        a {
          color: inherit;
        }
      }
    }
  }
}

@include breakpoint(mobileonly) {
  footer.site-footer {
    padding: 15px;
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    position: initial !important;
    border: none;

    ul {
      &.menu {
        height: auto;
        display: inline-block;
        width: calc(50% - 10px);

        &:not(:last-child) {
        }

        li {
          line-height: 1.3rem;
          a {
          }
        }
      }
    }
  }
}