footer.site-footer {
  height: $size__site-footer;
  background-color: rgba(58, 58, 58, 0.05);
  padding: 25px 42px;

  ul {
    &.menu {
      font-family: $font__assistant;
      height: 100%;
      display: inline-block;
      float: right;
      list-style-type: none;
      padding: 0 10px;
      font-size: 15px;
      margin: 0;

      &:not(:last-child) {
        border-left: solid 1px $color__divider;
      }

      li {
        font-size: 15px;
        line-height: normal;
        text-align: right;
        padding: 0;

        a {
          color: inherit;
        }
      }
    }
  }
}

@include breakpoint(mobileonly) {
  footer.site-footer {
    padding: 15px;
    height: auto;
    position: unset;
    width: 100%;

    ul {
      &.menu {
        height: auto;
        display: inline-block;
        width: calc(50% - 10px);

        &:not(:last-child) {
        }

        li {
          line-height: 1.3rem;
          a {
          }
        }
      }
    }
  }
}