$social-icon-size: 21px;

header {

  .socials {
    height: 30px;
    .essbfc-container {
      margin-bottom: 0;
      max-height: 100%;
      &.essbfc-container-profiles.essbfc-template-roundcolor {
        ul {
          height: 100%;
          display: inline-flex;
          align-items: center;
          li {
            max-height: 100%;
            .essbfc-network {
              i {
                width: $social-icon-size;
                height: $social-icon-size;
                line-height: $social-icon-size;
                font-size: 0.8em;
              }
            }

          }
        }
      }
    }
  }

  .logo-container, .logo-container-mobile {
    position: absolute;
    z-index: $zindex-dropdown;
    right: 20px;
  }

  .logo-container-desktop {

    width: 100px;
    border-radius: 50%;

    img {
      &.custom-logo {
        border: 3px solid #fff;
        background-color: white;
        border-radius: 50%;
      }
    }
  }

  .cellcom-tv-img {
    position: absolute;
    top: 33.5px;
    right: 110px;
  }

  nav {
    &.navbar {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
      height: 77px;
      background-color: #fff;

      .foody-navbar-container {
        padding-right: 250px;
      }

      &.navbar-light {

        .navbar-nav {

          .nav-link {
            color: #3A3A3A;
            opacity: 0.6;
            font-size: 25px;
            font-weight: 900;
            letter-spacing: -0.07px;
            line-height: 27px;
            text-align: center;
            text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
          }
        }
      }

      .search-bar {
        input {
          &.search {
            width: 310px;
            height: 47px;

            &::-webkit-input-placeholder {
              font-size: 24px;
              vertical-align: sub;
              line-height: 47px;
            }
          }
        }

      }

      .avatar{
        clip-path: circle();
        border-radius: 50%;
        border: 2px solid $color__primary;
      }

      .navbar-collapse {
        flex-direction: row-reverse;
      }

      .cellcom-tv {
        vertical-align: baseline;
      }

      ul {
        li {
          a {
            color: #3A3A3A;
            font-size: 25px;
            font-weight: 900;
            letter-spacing: -0.07px;
            line-height: 27px;
            text-align: center;
            text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }

}

@include breakpoint(mobileonly) {

  header {
    .logo-container-mobile {
      top: 12px;
      right: calc(50vw - 30px);

      img {
        border: 1.5px solid #fff;
        border-radius: 50%;
        background-color: #fff;
      }
    }

    nav {
      &.navbar {

        height: 60px;
        .foody-navbar-container {
          padding-right: 0;
        }
        .navbar-toggler {
          border: 0;

          .navbar-toggler-icon {
            background-image: none;
            &:before {
              color: $color__primary;
              display: inline-block;
              padding-top: 4px;
            }
          }

        }

        button {
          background-color: transparent;
        }
        .btn{
          margin-bottom: 0;

          &.accessibility{
            margin-right: -35px;
          }
        }

      }

    }

  }
}
