$sidebar-width: 25%;
$content-width: 95%;

//@include breakpoint(tablet-l) {
//  $content-width: 80%;
//}

@mixin max-width-section() {
  max-width: $content-width;
  margin: 0 auto;
}

@import "../common/related-content";

@import "../../common/show-more-simple";

.single-foody_recipe, .single-foody_playlist, .archive.author, body[class~="foody_channel-template-channel"] {

  article.content {

    > section[class^="recipe-"] {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .details-container {
      background-color: white;

      .featured-content-container {
        clip-path: inset(0 round 3px);
        margin: 0 10px 10px;

        &.video-featured-content {
          position: relative;
          padding-bottom: 56.25%; /* 16:9 */
          padding-top: 25px;
          height: 0;
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        .wp-post-image {
          width: 100%;
        }
      }
      .favorite {
        i {
          cursor: pointer;
        }
      }
      .content-details-bullets {

        li {
          > div[dir=ltr] {
            vertical-align: bottom;
            font-size: 5px;
            display: inline-block;

            .foody-rating-container {
              display: inline;
              .star {
                i {
                  &:before {
                    font-size: 2em;
                    padding: 0;
                  }
                }
              }

            }

            span {
              &.value {
                font-size: 18px;
                margin-left: 5px;
              }
            }

            .rating-stars {
              vertical-align: bottom;
            }
          }
        }
      }

      .btn-facebook-share {
        a {
          color: white;
          &:hover {
            color: white;
          }
        }
      }

      section{
        .social{
          .essb_links{
            float: right;
          }
        }
      }
    }

    .recipe-overview {

      .overview {
        list-style-type: none;
        @include max-width-section;
        padding: 0 30px;

        li {
          display: inline-block;
          font-family: $font__assistant;
          text-align: center;
          .key {
            color: $color__text-primary-dark;
            font-size: 24px;
            font-weight: 600;

          }

          .value {
            color: $color__primary;
            font-size: 32px;
            font-weight: bold;
            font-family: $font__main;
          }
        }
      }

      .preview {
        @include max-width-section;
        font-family: $font__assistant;
        font-size: 24px;
        text-align: right;
      }
    }

    .recipe-ingredients {
      background-color: white;
      width: 100%;
      font-family: $font__assistant;
      padding: 20px 0;

      > .recipe-ingredients-top {
        @include max-width-section;

        .title {
          line-height: normal;
          padding-right: 0;
        }

        .amount-container {
          padding-left: 0;
          align-self: center;
          $input-height: 44px;

          .foody-select {

            .filter-option {
              .filter-option-inner-inner {
                white-space: normal;
                line-height: normal;
                padding-left: 4px;
              }
            }

          }

          label {
            font-size: 24px;
            padding-left: 12px;
            line-height: $input-height;
            vertical-align: middle;
          }

          input {
            width: 2em;
            height: $input-height;
            border-radius: 2px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03);
            background-color: #ffffff;
            border: solid 1px rgba(151, 151, 151, 0.13);
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            color: $color__primary;
          }

        }

      }

      .recipe-ingredients-container {
        max-width: $content-width;
        margin: 0 auto;
        .ingredients-group {
          display: inline-block;
          margin-bottom: 15px;

          .ingredients-group-title {
            font-family: $font__assistant;
            font-weight: bold;
            font-size: 24px;
            max-width: 80%;
          }

          ul {
            padding: 0;
            list-style-type: none;
            font-size: 22px;
            margin-bottom: 0;

            span {
              &.amount {
                display: inline-block;
              }
            }
          }
        }

      }
    }

    .recipe-content {

      .content-container {
        @include max-width-section;
        text-align: right;

        :not(h2) {
          font-family: $font__assistant;
        }

      }
    }

    .recipe-notes {
      h4 {
        font-family: $font__assistant;
        font-weight: bold;
      }

      .notes {

        .note {
          font-family: $font__assistant;
          font-size: 22px;
        }
      }
    }

    .recipe-rating, .recipe-notes {
      @include max-width-section;
      padding: 20px;
      background-color: white;
    }

    .recipe-rating {
      text-align: center;

      h4 {
        font-family: $font__assistant;
        font-size: 24px;
        text-align: center;
        margin-bottom: 15px;
      }
      .rating-container {

        .filled-stars {
          -webkit-text-stroke: unset;
          text-shadow: none;
        }

        .star {
          i {
            &:before {
              font-size: 28px;
              padding: 0 10px;
            }
          }
        }
      }
    }

    .recipe-nutrition {
      @include max-width-section;
      .nutrition-container {
        background-color: white;
        .nutritions {
          font-family: $font__assistant;
          .nutrition {
            padding: 20px 35px 20px 20px;
            &:not(:last-child) {
              border-left: 1px solid $color__divider;
            }

            &:last-child {
              padding-left: 35px;
            }

            > div:not(.clearfix) {

              padding: 5px 0;

              .name {
                float: right;
                font-size: 20px;
                font-weight: bold;
              }

              .value {
                font-size: 20px;

                &.positive {
                  color: #66c264;
                }
                &.negative {
                  color: $color__primary;
                }
              }

            }
          }
        }
      }
    }

    > section[class^="recipe-"].box {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    }

    .recipe-accessories, .recipe-techniques, .recipe-categories {

      @include max-width-section;

      ul {
        //column-count: 4;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-flow: row;
        flex-wrap: wrap;

        li {
          font-family: $font__assistant;
          font-size: 22px;
          list-style-type: none;
          margin-left: 1em;

          &:before {
            content: "·";
            vertical-align: sub;
            font-size: 35px;
            line-height: normal;
            padding-left: 5px;
            display: inline-block;
            height: 0;
          }
        }
      }
    }

    .recipe-tags {
      @include max-width-section;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          border-radius: 2rem;
          border: solid 1px #3a3a3a;
          font-family: $font__assistant;
          font-size: 22px;
          text-align: center;
          padding: 2px 12px;
          margin-left: 10px;
          margin-bottom: 10px;
        }
      }
    }

    .recipe-accessories, .recipe-techniques, .recipe-tags {
      a {
        pointer-events: none !important;
      }
    }

    .recipe-how-i-did {
      @include max-width-section;

      .header {
        font-family: $font__assistant;
        h2 {
          float: right;
          margin: 0;
          padding: 15px 0;
        }

        .add-image {
          border-radius: 3px;
          background-color: #ffffff;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
          color: $color__primary;
          font-size: 22px;
          display: inline-block;

          input[type="file"] {
            display: none;
          }

          label {
            font-size: 22px;
            padding: 15px;
            cursor: pointer;

            span {
              vertical-align: bottom;
            }
          }

          .icon-camera {
            color: $color__primary;
            vertical-align: middle;
            margin-left: 10px;

            &:before {
              font-size: 22px;
            }
          }
        }

      }

      .how-i-did-list {
        padding: 0;
        width: 100%;
        margin-top: 20px;

        .how-i-did {

          .image-container {

            img {
              width: 100%;
              height: 150px;
              border-radius: 3px;
            }
          }

          .author {
            font-family: $font__assistant;
            padding: 10px;
            font-size: 15px;
            text-align: right;

            .author-name {
              unicode-bidi: isolate;
              font-weight: bold;
            }
            img {
              clip-path: circle();
            }
          }
        }
      }

      #how-i-did-modal {

        .modal-content {

          .modal-header {
            background-image: linear-gradient(83deg, #ec3849, #f35644);
            color: #ffffff;
            padding: 0;

            .modal-title {
              font-family: $font__main;
              font-size: 28px;
              font-weight: 900;
              place-self: center;
              margin-right: 20px;
            }
            .close {
              float: left;
              margin: 0;
              color: #ffffff;
              opacity: 1;
            }
          }
          .modal-body {
            padding: 0;

            img {
              display: inline-block;
              float: right;
              object-fit: scale-down;
              border-bottom-right-radius: 0.25rem;
            }

            .details {
              display: inline-block;
              float: right;
              text-align: right;
              padding: 20px 5px 5px;
              font-family: $font__assistant;
              font-size: 22px;

              h4 {
                font-weight: bold;
                font-family: $font__assistant;
              }
            }
          }
        }
      }
    }

    #upload-image-modal {

      .modal-header {
        background-image: linear-gradient(78deg, #ec3849, #f35644);
        color: white;
        padding: 10px;
        place-items: center;

        .modal-title {
          font-size: 32px;
          font-weight: 900;
        }

        .close {
          color: white;
          opacity: 1;
          font-size: 32px;
          margin: 0;
          padding: 0;
        }
      }

      .modal-body {
        padding-bottom: 0;
        .image-container {
          text-align: center;
          img {
            width: 33%;
            clip-path: inset(0 round 3px);
            margin-bottom: 15px;
          }
        }

        .comment-input-container {
          width: 100%;
          border-radius: 3px;
          background-color: #ffffff;
          border: solid 1px #e5e5e5;
          padding: 15px;

          input.comment {
            display: block;
            border: none;
            box-shadow: none;
            width: 100%;
          }

          label {
            text-align: right;
            display: block;
            font-family: $font__assistant;
            font-size: 22px;
            font-weight: bold;
          }
        }

        input[type="file"] {
          display: none;
        }

        button.btn {
          margin: 10px 0;
          box-shadow: none;
          font-family: $font__assistant;
          font-size: 22px;
          padding: 0;
          border-radius: 0;

          &.btn-approve {
            color: $color__primary;
            font-weight: bold;
            padding-right: 10px;
          }

          &.btn-cancel {
            padding-left: 10px;
            border-left: 1px solid $color__divider;
          }

        }

      }

      .modal-footer {
        display: none;
      }
    }

    .recipe-comments {
      @include max-width-section;
      .must-log-in {
        text-align: right;
      }
      .commentform-element {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
      }

    }

  }
}

@include breakpoint(mobileonly) {
  $sidebar-width: 0;
  $content-width: 100%;
  $content-padding: 40px;
  .single-foody_recipe, .single-foody_playlist, .single-post {

    article.content {
      width: $content-width;

      .details-container {
        padding-bottom: 0;
        .mobile-rating {
          text-align: right;
          padding-right: 0;
          > div[dir=ltr] {
            vertical-align: bottom;
            font-size: 5px;
            display: inline-block;

            .foody-rating-container {
              display: inline;
              .star {
                i {
                  &:before {
                    font-size: 2em;
                    padding: 0;
                  }
                }
              }

            }

            span {
              &.value {
                font-size: 18px;
                margin-left: 5px;
              }
            }

            .rating-stars {
              vertical-align: bottom;
            }
          }
        }

        .featured-content-container {

          &.video-featured-content {
            iframe {
            }
          }

          margin-top: -10px;
          margin-left: 0;
          margin-right: 0;
          clip-path: none;
          padding-bottom: 0;
          height: auto;
          position: initial;
          padding-top: 0;

          .wp-post-image {
          }

        }

        .details {
          max-width: 100%;

          .post-categories {

            li {
              padding-right: 0;
              padding-left: 1.5rem;
              padding-bottom: 0;

              &:first-child {
              }
            }
          }

          .recipe-details, .playlist-details {

            .image-container {

              img {
                margin-top: .8rem;
              }
            }

            h1 {
              font-size: 2em;
            }

            .description {
              font-size: 20px;
            }

            .view-count {
            }

            ul.content-details-bullets {

              li {

              }

              li:not(:first-child):before {

              }
            }

            .favorite {

              i {

              }
            }
          }

          .essb_links_list {

            .essb_item {
              margin-left: 10px !important;
              a {
                width: 45px;
                height: 45px;
                border-radius: 50%;

                .essb_icon {
                  width: 36px;
                  height: 36px;
                  border-radius: 0;

                  &:before {
                    font-size: 27px !important;
                    left: -4px;
                  }
                }
              }
            }
          }

          .btn-facebook {
            padding: 0 20px;
            height: 45px;
            font-size: 18px;
          }

          .mobile-rating {
            margin-top: 10px;
          }
        }
      }

      .recipe-overview {
        .overview {
          padding: 10px 0 0;
          max-width: calc(100% - #{$content-padding});
          li {
            //padding-bottom: 20px;
            &:nth-child(odd) {

              border-left: 1px solid $color__divider;
            }

            .key {
              line-height: 1rem;
            }

            .value {
              line-height: normal;
              margin-top: 10px;
              font-family: $font__assistant-bold;
              font-size: 24px;
            }

            &:nth-child(3), &:nth-child(4) {
              padding-bottom: 0;
              padding-top: 20px;
            }
          }
        }

        .preview {
          font-size: 20px;
          padding-top: 20px;
          max-width: 90%;
        }
      }

      .recipe-ingredients {

        > .recipe-ingredients-top {
          max-width: calc(100% - #{$content-padding});
          place-items: center;
          .title {

          }

          .amount-container {

            label {

            }

            input {

            }

          }

        }

        .recipe-ingredients-container {
          max-width: calc(100% - #{$content-padding});
          .ingredients-group {
            &:not(:last-child) {
              margin-bottom: 15px;
            }
            .ingredients-group-title {
              max-width: 100%;
            }

            ul {

              border: 1px solid $color__divider;
              margin: 0;

              li {
                padding: 5px 10px;
                font-size: 20px;
                &:nth-child(odd) {
                  background-color: white;
                }
                &:nth-child(even) {
                  background-color: #f3f3f3;
                }

                .amount {
                  font-weight: bold;
                  //margin-left: 15px;
                  //min-width: 10%;
                  display: inline-block;
                  margin-left: 3px;
                }
              }
            }
          }

        }
      }

      .recipe-content {
        .content-container {
          max-width: calc(100% - #{$content-padding});
          :not(h2) {
          }

        }
      }

      .recipe-notes {
        h4 {

        }

        .notes {

          .note {

          }
        }
      }

      .recipe-rating, .recipe-notes {
        max-width: calc(100% - #{$content-padding});
      }

      .recipe-accessories, .recipe-techniques, .recipe-categories {

        @include max-width-section;

        .title {
          margin-bottom: 0;
        }

        ul {
          margin-top: -10px;
          li {
            font-size: 20px;

            &:before {
            }
          }
        }
      }

      .recipe-rating {

        h4 {
          font-size: 22px;
          font-weight: bold;
          text-align: right;
        }
        .rating-container {

          .filled-stars {

          }

          .star {
            i {
              &:before {

              }
            }
          }
        }
      }

      .recipe-nutrition {
        max-width: calc(100% - #{$content-padding});
        .nutrition-container {

          .nutritions {

            .nutrition {
              padding: 0 15px;

              &:not(:last-child) {
                border-left: 0;
              }

              > div:not(.clearfix) {
                padding: 5px 30px;
                &.nutrition-row:not(:last-child) {
                  border-bottom: 1px solid $color__divider;

                }

                .name {

                }

                .value {

                  &.positive {

                  }
                  &.negative {

                  }
                }

              }

              &:last-child {
                padding-left: 15px;

                div.nutrition-row:not(.clearfix) {
                  border-bottom: none;
                }
              }
            }
          }
        }
      }

      > section[class^="recipe-"] {

      }

      > section[class^="recipe-"].box {
      }

      .recipe-accessories, .recipe-techniques {

        max-width: calc(100% - #{$content-padding});

        ul {
          column-count: 2;
          li {

            &:before {

            }
          }
        }
      }

      .recipe-tags {
        max-width: calc(100% - #{$content-padding});
        ul {
          li {
            font-size: 20px;
            &:hover {

            }
          }
        }
      }

      .recipe-how-i-did {
        @include max-width-section;
        margin: 0;
        max-width: 100%;

        #accordion-how-i-did {

          .foody-accordion-title {
            h5 {
              i.icon-side-arrow {
                &:before {
                  left: 0;
                }
              }
            }
          }

          .header {
            .add-image {
              width: 100%;

              .label {
                width: 100%;
                text-align: center;
              }
            }
          }

          .card-body {
            padding: 20px;
            .how-i-did-list {
              margin: 0;
              justify-content: space-between;
              margin-top: 20px;
              .how-i-did {
                .image-container {

                  img {
                    height: 10em;
                  }
                }

                .author {
                  padding: 10px 0 0;
                  .author-name {
                    font-family: $font__main;
                    font-size: 18px;
                    font-weight: 900;
                  }

                  time {
                    font-family: $font__main;
                    font-size: 18px;
                    opacity: 0.5;
                    margin-right: 5px;
                  }
                  img {
                    height: 24px;
                    width: 24px;
                  }

                  .col {
                    p {
                      margin-right: -39px;
                      font-size: 18px;
                      line-height: 1.17;
                    }
                  }
                }
              }
            }
          }

        }
        #image-upload-hidden {
          text-align: center;
        }

        #how-i-did-modal {
          #content {
            padding-top: 0;
            min-height: unset;
          }

          .close {
            span {
              font-size: 32px;
            }
          }
        }
      }

      #upload-image-modal {

        .modal-header {

          .modal-title {
          }

          .close {
          }
        }

        .modal-body {
          .image-container {
            img {
            }
          }

          .comment-input-container {

            input.comment {
            }

            label {
            }
          }

          input[type="file"] {
          }

          button.btn {

            &.btn-approve {
            }

            &.btn-cancel {
            }

          }

        }

        .modal-footer {
        }
      }

      .recipe-comments {
        @include max-width-section;
        max-width: 100%;
        .foody-accordion-title {
          h5 {
            i.icon-side-arrow {
              &:before {
                left: 0;
                position: unset;
                line-height: 50px;
                font-size: 11px;
              }
            }
          }
        }
        .commentform-element {
        }

        .load-more {
          margin: 20px auto 40px;
        }
      }

    }

    aside {
      @include related-content;
    }
  }
}

@include breakpoint(mobile-l) {

  .single-foody_recipe, .single-foody_playlist, .single-post {

    article.content {

      .details-container {

        .mobile-rating {
          > div[dir=ltr] {

            .foody-rating-container {
              .star {
                i {
                  &:before {
                  }
                }
              }

            }

            span {
              &.value {
              }
            }

            .rating-stars {
            }
          }
        }

        .featured-content-container {

          &.video-featured-content {
            iframe {
            }
          }

          .wp-post-image {
          }

        }

        .details {

          .post-categories {

            li {

              &:first-child {
              }
            }
          }

          .recipe-details, .playlist-details {

            .image-container {

              img {
              }
            }

            h1 {

            }

            .description {

            }

            .view-count {
            }

            ul.content-details-bullets {

              li {

              }

              li:not(:first-child):before {

              }
            }

            .favorite {

              i {

              }
            }
          }
        }
      }

      .recipe-overview {
        .overview {

          li {
            &:nth-child(odd) {

            }

            .key {
            }

            .value {

            }

            &:nth-child(3), &:nth-child(4) {
              padding-top: 0;
            }
          }
        }
      }

      .recipe-ingredients {

        > .recipe-ingredients-top {
          .title {

          }

          .amount-container {

            label {

            }

            input {

            }

          }

        }

        .recipe-ingredients-container {
          .ingredients-group {
            &:not(:last-child) {
            }
            .ingredients-group-title {
            }

            ul {
              li {
                &:nth-child(odd) {
                }
                &:nth-child(even) {
                }

                .amount {

                }
              }
            }
          }

        }
      }

      .recipe-content {
        .content-container {
          :not(h2) {
          }

        }
      }

      .recipe-notes {
        h4 {

        }

        .notes {

          .note {

          }
        }
      }

      .recipe-rating, .recipe-notes {
      }

      .recipe-rating {

        h4 {
          font-size: 22px;
          font-weight: bold;
          text-align: right;
        }
        .rating-container {

          .filled-stars {

          }

          .star {
            i {
              &:before {

              }
            }
          }
        }
      }

      .recipe-nutrition {
        .nutrition-container {

          .nutritions {

            .nutrition {

              &:not(:last-child) {
              }

              > div:not(.clearfix) {
                &.nutrition-row:not(:last-child) {

                }

                .name {

                }

                .value {

                  &.positive {

                  }
                  &.negative {

                  }
                }

              }

              &:last-child {

                div.nutrition-row:not(.clearfix) {
                }
              }
            }
          }
        }
      }

      > section[class^="recipe-"] {

      }

      > section[class^="recipe-"].box {
      }

      .recipe-accessories, .recipe-techniques {

        ul {
          li {

            &:before {

            }
          }
        }
      }

      .recipe-tags {
        ul {
          li {

            &:hover {

            }
          }
        }
      }

      .recipe-how-i-did {
        @include max-width-section;
        #accordion-how-i-did {

          .foody-accordion-title {
            h5 {
              i.icon-side-arrow {
                &:before {
                }
              }
            }
          }

          .header {
            .add-image {

              .label {
              }
            }
          }

          .card-body {
            .how-i-did-list {
              .how-i-did {

                &:nth-child( even) {
                }
                &:nth-child(odd) {
                }
                .image-container {

                  img {
                  }
                }

                .author {
                  .author-name {
                  }

                  time {
                  }
                  img {
                  }

                  .col {
                    p {
                    }
                  }
                }
              }
            }
          }

        }
        #image-upload-hidden {
        }
      }

      #upload-image-modal {

        .modal-header {

          .modal-title {
          }

          .close {
          }
        }

        .modal-body {
          .image-container {
            img {
            }
          }

          .comment-input-container {

            input.comment {
            }

            label {
            }
          }

          input[type="file"] {
          }

          button.btn {

            &.btn-approve {
            }

            &.btn-cancel {
            }

          }

        }

        .modal-footer {
        }
      }

      .recipe-comments {
        .foody-accordion-title {
          h5 {
            i.icon-side-arrow {
              &:before {
              }
            }
          }
        }
        .commentform-element {
        }

        .load-more {
        }
      }

    }
  }
}

@include breakpoint(tablet-l) {
  $content-width: 80%;
  .single-foody_recipe, .single-foody_playlist, .archive.author, body[class~="foody_channel-template-channel"] {

    article.content {

      > section[class^="recipe-"] {

      }

      .details-container {

        .featured-content-container {
          &.video-featured-content {
            iframe {

            }
          }

          .wp-post-image {

          }
        }

        .details {
          @include max-width-section;
          > .social {
            display: none;
          }
        }

        .content-details-bullets {
          li {

            > div[dir=ltr] {

              .foody-rating-container {

                .star {
                  i {
                    &:before {

                    }
                  }
                }

              }

              span {
                &.value {

                }
              }

              .rating-stars {

              }
            }
          }
        }

        .favorite-container {
          .favorite {
            text-align: right;
            margin: 8px 0;
          }
        }
      }

      .recipe-overview {

        .overview {

          @include max-width-section;

          li {

            .key {

            }

            .value {

            }
          }
        }

        .preview {
          @include max-width-section;

        }
      }

      .recipe-ingredients {

        > .recipe-ingredients-top {
          @include max-width-section;

          .title {

          }

          .amount-container {

            label {

            }

            input {

            }

          }

        }

        .recipe-ingredients-container {

          .ingredients-group {

            .ingredients-group-title {

            }

            ul {

              span {
                &.amount {

                }
              }
            }
          }

        }
      }

      .recipe-content {

        .content-container {

          :not(h2) {

          }

        }
      }

      .recipe-notes {
        h4 {

        }

        .notes {

          .note {

          }
        }
      }

      .recipe-rating, .recipe-notes {
        @include max-width-section;

      }

      .recipe-rating {

        h4 {

        }
        .rating-container {

          .filled-stars {

          }

          .star {
            i {
              &:before {

              }
            }
          }
        }
      }

      .recipe-nutrition {
        @include max-width-section;
        .nutrition-container {

          .nutritions {

            .nutrition {

              &:not(:last-child) {

              }

              &:last-child {

              }

              > div:not(.clearfix) {

                .name {

                }

                .value {

                  &.positive {

                  }
                  &.negative {

                  }
                }

              }
            }
          }
        }
      }

      > section[class^="recipe-"].box {

      }

      .recipe-accessories, .recipe-techniques {

        @include max-width-section;

        ul {

          li {

            &:before {

            }
          }
        }
      }

      .recipe-tags {
        @include max-width-section;

        ul {

          li {

            &:hover {

            }
          }
        }
      }

      .recipe-how-i-did {
        @include max-width-section;

        #accordion-how-i-did {
          .foody-accordion-title {
            h5 {
              i.icon-side-arrow {
                &:before {
                  left: 5em;
                }
              }
            }
          }
        }

        .header {

          h2 {

          }

          .add-image {

            input[type="file"] {

            }

            label {

              span {

              }
            }

            .icon-camera {

              &:before {

              }
            }
          }

        }

        .how-i-did-list {

          .how-i-did {

            .image-container {

              img {

              }
            }

            .author {

              .author-name {

              }
              img {

              }
            }
          }
        }

        #how-i-did-modal {

          .modal-content {

            .modal-header {

              .modal-title {

              }
              .close {

              }
            }
            .modal-body {

              img {

              }

              .details {

                h4 {

                }
              }
            }
          }
        }
      }

      #upload-image-modal {

        .modal-header {

          .modal-title {

          }

          .close {

          }
        }

        .modal-body {

          .image-container {

            img {

            }
          }

          .comment-input-container {

            input.comment {

            }

            label {

            }
          }

          input[type="file"] {

          }

          button.btn {

            &.btn-approve {

            }

            &.btn-cancel {

            }

          }

        }

        .modal-footer {

        }
      }

      .recipe-comments {
        @include max-width-section;

        #accordion-comments-accordion {
          .foody-accordion-title {
            h5 {
              i.icon-side-arrow {
                &:before {
                  left: 5em;
                }
              }
            }
          }
        }

        .commentform-element {

        }
      }

    }
  }
}

@include breakpoint(tablet) {
  .single-foody_recipe, .single-foody_playlist, .archive.author, body[class~="foody_channel-template-channel"] {

    article.content {

      > section[class^="recipe-"] {

      }

      .details-container {

        .featured-content-container {

          &.video-featured-content {

            iframe {

            }
          }

          .wp-post-image {

          }
        }

        .content-details-bullets {
          li {
            > div[dir=ltr] {

              .foody-rating-container {

                .star {
                  i {
                    &:before {

                    }
                  }
                }

              }

              span {
                &.value {

                }
              }

              .rating-stars {

              }
            }
          }
        }

        .recipe-details, .playlist-details {

          .image-container {

            img {
            }
          }

          h1 {

          }

          .description {
            margin-right: 0;
          }

          .social {
            .essb_icon {
              width: 30px;
              height: 30px;

              &:before {
                top: 6px;
                left: 6px;
              }
            }
          }

          .view-count {
          }

          ul.content-details-bullets {

            li {

            }

            li:not(:first-child):before {

            }
          }

          .favorite {
            margin-right: 0;
            i {

            }
          }
        }
      }

      .recipe-overview {

        .overview {

          @include max-width-section;

          li {
            padding-bottom: 0;
            padding-top: 20px;
            .key {
              margin-bottom: 10px;
            }

            .value {
              line-height: normal;
            }
          }
        }

        .preview {
          @include max-width-section;

        }
      }

      .recipe-ingredients {
        > .recipe-ingredients-top {
          @include max-width-section;

          .title {

          }

          .amount-container {

            label {

            }

            input {

            }

          }

        }

        .recipe-ingredients-container {

          .ingredients-group {

            .ingredients-group-title {

            }

            ul {

              span {
                &.amount {

                }
              }
            }
          }

        }
      }

      .recipe-content {

        .content-container {
          @include max-width-section;

          :not(h2) {

          }

        }
      }

      .recipe-notes {
        h4 {

        }

        .notes {

          .note {

          }
        }
      }

      .recipe-rating, .recipe-notes {
        @include max-width-section;

      }

      .recipe-rating {

        h4 {

        }
        .rating-container {

          .filled-stars {

          }

          .star {
            i {
              &:before {

              }
            }
          }
        }
      }

      .recipe-nutrition {
        @include max-width-section;
        .nutrition-container {

          .nutritions {

            .nutrition {

              &:not(:last-child) {

              }

              &:last-child {

              }

              > div:not(.clearfix) {

                .name {

                }

                .value {

                  &.positive {

                  }
                  &.negative {

                  }
                }

              }
            }
          }
        }
      }

      > section[class^="recipe-"].box {

      }

      .recipe-accessories, .recipe-techniques {

        @include max-width-section;

        ul {

          li {

            &:before {
            }
          }
        }
      }

      .recipe-tags {
        @include max-width-section;

        ul {

          li {

            &:hover {

            }
          }
        }
      }

      .recipe-how-i-did {
        @include max-width-section;

        #accordion-how-i-did {
          .foody-accordion-title {
            h5 {
              i.icon-side-arrow {
                &:before {
                  left: 5em;
                }
              }
            }
          }
        }

        .header {

          h2 {

          }

          .add-image {

            input[type="file"] {

            }

            label {

              span {

              }
            }

            .icon-camera {

              &:before {

              }
            }
          }

        }

        #accordion-how-i-did {

          .card-body {
            .how-i-did-list {

              .how-i-did {
                &:nth-child(even) {
                  padding-right: 0;
                  padding-left: 0;
                }
                &:nth-child(odd) {
                  padding-right: 0;
                  padding-left: 0;
                }
                .image-container {

                  img {

                  }
                }

                .author {

                  .author-name {

                  }
                  img {

                  }
                }
              }
            }
          }
        }

        #how-i-did-modal {

          .modal-content {

            .modal-header {

              .modal-title {
              }
              .close {

              }
            }
            .modal-body {

              img {

              }

              .details {
                h4 {
                }
              }
            }
          }
        }
      }

      #upload-image-modal {

        .modal-header {
          .modal-title {
          }

          .close {
          }
        }

        .modal-body {

          .image-container {

            img {
            }
          }

          .comment-input-container {

            input.comment {
            }

            label {

            }
          }

          input[type="file"] {

          }

          button.btn {

            &.btn-approve {
            }

            &.btn-cancel {
            }
          }

        }

        .modal-footer {
        }
      }

      .recipe-comments {
        @include max-width-section;
        .foody-accordion-title {
          h5 {
            i.icon-side-arrow {
              &:before {
                left: 5em;
              }
            }
          }
        }
        .commentform-element {

        }
      }

    }
  }
}


.foody-message{
  font-size: 20px;
  font-family: $font__assistant;

  &.error{
    color: $color-red-error;
  }
}