.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

body {
  direction: rtl;
}

img.lazyload {
  width: 100%;
  /* or specific dimensions */
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  /* Ensures the GIF fits nicely */
  background-color: #f0f0f0;
  /* Optional background color while loading */
}

.image-wrapper {
  width: 100%;
  /* height: 100%; */
  display: block;
  /* opacity: 0; */
  z-index: 8888;
}

.image-wrapper img {
  width: 100%;
  /* height: 100%; */
  display: block;
  /* opacity: 0; */
  z-index: 8888;
}

.wave-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite ease-in-out;
  z-index: 1;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.primary_menu_container {
  max-height: 50px;
  align-content: center;
  align-items: center;
  position: relative;
}
.primary_menu_container .row {
  align-items: center;
}

.menu_container {
  display: none;
  background: none;
  position: relative;
}

.toggle {
  display: none;
}

.newsitenav {
  cursor: pointer;
}
@media (min-width: 769px) {
  .newsitenav {
    position: relative;
    display: flex;
    list-style: none;
    width: 100%;
    text-align: right;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .newsitenav {
    display: inline-grid;
    list-style: none;
    width: 100%;
    text-align: right;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    position: relative;
  }
}
.newsitenav li {
  padding-right: 20px;
  list-style: none !important;
  width: 20%;
  padding: 0px !important;
  margin: 0px !important;
  position: relative;
}
@media (max-width: 768px) {
  .newsitenav li {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
.newsitenav li:has(> ul.nested-ul) {
  padding: 0px !important;
}
.newsitenav li:has(> ul.nested-ul) .toggle {
  content: ">";
  transform: rotate(deg);
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #e00707;
  margin-top: 9px;
  right: 70%;
}
.newsitenav li:has(> ul.nested-ul) a {
  color: #0d0f10;
}
.newsitenav li:has(> ul.nested-ul) a:hover {
  color: #579fba;
}
.newsitenav li:has(> ul.nested-ul):hover > .nested-ul {
  display: block;
  height: auto;
  opacity: 1;
  margin-bottom: 10px;
}

.first_ul_li {
  position: relative;
}
.first_ul_li a {
  font-weight: bold;
}

.nested_submenu .first_ul_li a {
  font-weight: 100 !important;
}
.nested_submenu li a {
  font-size: 15px;
}

.manucloser {
  height: 18px !important;
  cursor: pointer;
}

.dn {
  display: none !important;
}

.db {
  display: block !important;
}

.mainhamburger {
  height: 18px !important;
  cursor: pointer;
  position: relative;
}

.custom-logo {
  height: 48px !important;
}

.second-level-item {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
}

.nested_submenu {
  padding: 0px !important;
}
.nested_submenu li {
  width: 100%;
}
@media (max-width: 769px) {
  .nested_submenu {
    display: none;
  }
}

li:has(> ul.nested-ul) {
  /* Styles for <li> that has a child <ul> with class 'nested-ul' */
  color: red;
}
@media (max-width: 769px) {
  li:has(> ul.nested-ul) {
    display: none;
  }
}

ul.nested-ul {
  height: 0px;
  opacity: 0;
  background-color: #fff;
  padding: 0px;
  transition: opacity 0.5s ease, max-height 0.7s ease;
  padding-right: 10px;
}
ul.nested-ul li a.toggle {
  display: none !important;
}
ul.nested-ul li a {
  font-size: 15px;
}
ul.nested-ul li:hover {
  background-color: #fff;
}

@media (min-width: 1280px) {
  .tar {
    margin-right: 5%;
  }
  .tal {
    margin-left: 5%;
  }
}
.saparetor:first-child {
  width: 100%;
  border-bottom: solid 1px #444;
  position: absolute;
  top: 113px;
  left: 0px;
  right: 0px;
  z-index: 888;
}

.iconsize {
  cursor: pointer;
  display: inline-flex;
}
@media (min-width: 1050px) {
  .iconsize {
    height: 23px;
    margin-left: 10px;
    margin-top: 5px;
  }
}
@media (max-width: 1049px) {
  .iconsize {
    height: 19px;
    margin-left: 5px;
    margin-top: 5px;
  }
  .iconsize .ddsm {
    display: none !important;
  }
}

.leftsidebar {
  max-width: 294px !important;
}

.loginspn {
  font-size: 100%;
  display: inline-flex;
}

.searchloginspn {
  font-size: 100%;
  display: inline-flex;
}
@media (max-width: 1049px) {
  .searchloginspn {
    position: fixed;
    top: 59px;
    left: 0;
    background: red;
    padding: 20px;
  }
}

@media (max-width: 1049px) {
  .ddsm {
    display: none !important;
  }
}
.container_wrapper {
  position: relative;
  position: relative;
  background: #fff;
  max-width: 100%;
}
.container_wrapper .container {
  max-width: 1050px !important;
}

.newsearchBox {
  width: 0px;
  background-color: #e00707 !important;
  color: #fff !important;
  border-radius: 20px !important;
  position: absolute !important;
  left: 79px !important;
  background-repeat: no-repeat;
  background-position-x: 11px;
  background-position-y: center;
}

.closesearchbox {
  cursor: pointer;
  height: 12px;
  position: absolute;
  top: 13px;
  z-index: 886;
}

@media (max-width: 1049px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .searchWrapper {
    position: fixed;
    background: red;
    width: 100%;
    left: 0;
    text-align: center;
    padding: 10px;
  }
  .searchtextmobile {
    width: 80%;
  }
}
@media (min-width: 1050px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}/*# sourceMappingURL=new_site_style.css.map */