:root {
     
}
.tar{
    text-align: right;
    
}
.tal{
    text-align: left;
   
}
.tac{
    text-align: center;
   
}
body{
    direction: rtl;
}
img.lazyload {
    width: 100%;
    /* or specific dimensions */
    height: auto;
    object-fit: cover;
    /* Ensures the GIF fits nicely */
    background-color: #f0f0f0;
    /* Optional background color while loading */
}

.image-wrapper {
    width: 100%;
    /* height: 100%; */
    display: block;
    /* opacity: 0; */
    z-index: 8888;
}

.image-wrapper img {
    width: 100%;
    /* height: 100%; */
    display: block;
    /* opacity: 0; */
    z-index: 8888;
}

.wave-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite ease-in-out;
    z-index: 1;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.primary_menu_container {
   
    background: #fff;
    max-height: 50px;
    align-content: center;
    align-items: center;
.row{
    align-items: center;
}

}

.menu_container {
    display: none;
    background: none;
    
}

.newsitenav {
    position: relative;
    display: flex;
    list-style: none;
    width: 100%;
    text-align: right;
    margin-right: 2%;

    li {
        padding-right: 20px;
        list-style: none !important;
        width: 20%;
        border-bottom: solid 1px #000;

        a {
            font-size: 18px;
        }
    }

    ul {
        text-align: right;
        list-style-type: none; // Add a list style for nested ul
        width: 100%;

        li {
            border-bottom: solid 0px #000;
            text-align: right;

            a {
                font-size: 14px;
            }
        }
    }

}
.manucloser{
    height: 18px !important;
    cursor: pointer;
    display: none;
}
.mainhamburger{
    height: 18px !important;
    cursor: pointer;
}
.custom-logo{
    height: 48px !important;
   
}
.second-level-item{
    width:fit-content;
    display: block;
}
.nested_submenu{
    padding: 0px !important;
}
@media (min-width: 1280px) { 
    .tar{
        margin-right: 5%;
    }
    .tal{margin-left: 5%;}
 }